{% extends 'base.html.twig' %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}Acceso{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
{% endblock %}

{% block bodyAtt %}class="hold-transition login-page"{% endblock %}
{% block body %} 
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <p class="h1">Registro Retributivo</p>
    </div>
    <div class="card-body">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.request.get('changed') %}
                <div class="alert alert-success">La contraseña se modificó correctamente</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Estás logado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">desconectar</a>
                </div>
            {% endif %}
            <label for="inputCif">Usuario</label>
            <input type="text" value="{{ last_username }}" name="cif" id="inputCif" class="form-control" required autofocus>
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <BR />

            <button class="btn btn-lg btn-primary" type="submit">
                Acceder
            </button>

            <div class="checkbox mb-3">
                <BR />
                <label>
                    <a href="{{ url('crear_gestor') }}">¿Aún no te has registrado?, regístrate</a>
                </label>
                <BR />
                <label>
                    <a href="{{ url('app_forgot_password_request') }}"> ¿Olvidáste tu contraseña? </a>
                </label>
            </div>
        </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
{% block footer %}
{% endblock %}
