{% if cart.items.count > 0 %}
    <a href="{{ path('productos') }}" class="nav-link" id="listaProductos">
        <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
    </a>

    <div class="row mt-4">
        <!-- List of items -->
        <div class="col-md-8">

            <div class="card card-primary">
                <div class="card-header d-flex">
                    <div><h3 class="card-title">Licencias seleccionadas</h3></div>
                    <div class="ml-auto">
                        <a href="{{ path('limpia_carro') }}" onClick="return confirm('Va a eliminar todos los articulos del carro, ¿desea continuar?')">
                            <button type="button" class="btn btn-warning">Limpiar&nbsp;&nbsp;<i class="fas fa-broom"></i></button>
                        </a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr class="text-center">
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.items %}
                                    <tr class="text-center">
                                        <td>{{ item.producto.nombre }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td><b>{{ item.producto.PVD|number_format(2, ',', '.') }} €</b></td>
                                        <td><a href="{{ path('borrar_del_carro', { 'idArticulo': item.producto.id }) }}" onClick="return confirm('Va a eliminar el articulo del carro, ¿desea continuar?')"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            <!-- /.row -->
            </div>
        </div>
        <!-- Summary -->
        <div class="col-md-4">
            <div class="card mt-4 mt-md-0">
                <h5 class="card-header bg-primary text-white">Total del pedido</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <div><b>Total</b></div>
                        <span><b>{{ cart.total|number_format(2, ',', '.') }} € </b>(IVA Incl.)</span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('checkout') }}" class="btn btn-warning w-100">Confirmar Pedido</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Tu carro está vacio, accede <a href="{{ path('productos') }}" class ="alert-link">aqui</a> para obtener las licencias.
    </div>
{% endif %}