{% if app.request.get('guardado') == true %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        Se ha registrado la {{ app.request.get('tipoDato') }} correctamente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 


<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Registro de horarios de la empresa {{ empresa.nombre }}</h3>
    </div>
    <div class="card-body">
        <!-- Datos identificativos de empresa -->
        <div class="row">
            <div class="col-5">
               &nbsp;
            </div>
            <div class="col-6">
              <table>
                    <thead>
                        <tr class="text-center">
                            {% if entrada is same as (true) %} 
                                <th><a href="{{ path('entrada_salida', { 'codEmpresa': empresa.id, 'codTrabajador': trabajador.id, 'tipo': "e" }) }}" class="nav-link"><button type="button" id="alta_trabajador" class="btn-primary btn">Registrar Entrada</button></a></th>
                            {% elseif entrada is same as (false) %} 
                                <th><a href="{{ path('entrada_salida', { 'codEmpresa': empresa.id, 'codTrabajador': trabajador.id, 'tipo': "s" }) }}" class="nav-link"><button type="button" id="alta_trabajador" class="btn-primary btn">Registrar Salida</button></a></th>
                            {% endif %} 
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-1">
                &nbsp;
            </div>
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>

{% if (lista is not same as ('')) and (lista is not empty) %}
  <div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Lista de tus últimos registros horarios</h3>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="text-center">
                      <th>Entrada</th>
                      <th>Salida</th>
                      <th>Tiempo Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in lista %}

                        {% if horario.tiempoTotal > 0 %}
                            
                            {% if horario.tiempoTotal > 3600 %}
                                {% set horas  = horario.tiempoTotal / 3600 %}
                                {% set minutos  = (horario.tiempoTotal % 3600) / 60 %}
                            {% else %}
                                {% set horas  = 0 %}
                                {% set minutos  = horario.tiempoTotal / 60 %}
                            {% endif %}
                        {% endif %}

                        {% set horaSalida = horario.horaSalida %}

                        <tr class="text-center">
                            <td>{{ horario.horaEntrada|date("d/m/Y H:i:s") }}</td>
                            <td>{{ horaSalida ? horaSalida|date("d/m/Y H:i:s") : "---" }}</td>
                            <td>
                                {% if horario.tiempoTotal > 0 %} 
                                    {{ horas|round(0, 'floor') }} : {{ minutos|round(0, 'floor') }} H 
                                {% else %} 
                                    --- 
                                {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <!-- /.row -->
  </div>
{% endif %} 