{% if cart.items.count > 0 %}
    <a href="{{ path('cart') }}" class="nav-link">
        <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
    </a>
    
    <div class="card card-primary">
        <div class="card-header d-flex">
            <div><h3 class="card-title">Datos del pedido</h3></div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                            <tr class="text-center">
                                <td>{{ item.producto.nombre }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.producto.PVD|number_format(2, ',', '.') }} €</td>
                            </tr>
                        {% endfor %}


                        {% set valorPago = cart.total - ((cart.total / 1.21) * 0.15)|round(2, 'common') %}
                        <tr class="text-center">
                            <td>&nbsp;</td>
                            <td><span><b>Total:</b></td>
                            <td><span><b><span id="importeTotal" style="display:none">{{ valorPago }}</span>{{ cart.total|number_format(2, ',', '.') }} € </b>(IVA Incl.)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>

    <div class="card card-secondary">
        <div class="card-header d-flex">
            <div><h3 class="card-title">Datos de facturación</h3></div>
        </div>

        {% if form is defined %}
            {{ form_start(form, {'attr': {'id': 'datos_facturacion', 'method': 'POST'}}) }}
                <div class="card-body">

                    <p class="text-danger">
                        <b>Debe validar los datos de facturación antes de proceder a seleccionar el método de pago.</b>
                    </p>

                    <!-- Datos identificativos de empresa -->
                    <div class="row">
                        <div class="col-4">
                            <label for="inputNombre">Razon Social</label>
                            {{ form_widget(form.nombre) }} 
                        </div>
                        <div class="col-2">
                            <label for="inputCif">CIF/NIF/NIE</label>
                            {{ form_widget(form.cif) }}
                        </div>
                        <div class="col-4">
                            <label for="inputDireccion">Dirección</label>
                            {{ form_widget(form.direccion) }}
                        </div>
                        <div class="col-2">
                            <label for="inputCP">CP</label>
                            {{ form_widget(form.cp) }}
                        </div>
                    </div>
                    <!-- Datos generales de empresa -->
                    <div class="row">
                        <div class="col-4">
                            <label for="inputCCAA">CCAA</label>
                            {{ form_widget(form.codComunidad) }}
                        </div>
                        <div class="col-4">
                            <label for="inputProvincia">Provincia</label>
                            {{ form_widget(form.codProvincia) }}
                        </div>
                        <div class="col-4">
                            <label for="inputEmail">Localidad</label>
                            {{ form_widget(form.localidad) }}
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-center">
                    {{ form_row(form.save) }}
                </div>
            {{ form_end(form) }}
        {% else %}
            <div class="card-body">
                <!-- Datos identificativos de empresa -->
                <div class="row">
                    <div class="col-1">
                        <label for="inputNombre">Razon Social: </label>
                    </div>
                    <div class="col-2">
                        {{ datosFacturacion.nombre }}
                    </div>
                    <div class="col-1">
                        <label for="inputCif">CIF/NIF/NIE:</label>
                    </div>
                    <div class="col-1">
                        {{ datosFacturacion.cif }}
                    </div>
                    <div class="col-1">
                        <label for="inputDireccion">Dirección:</label>
                    </div>
                    <div class="col-2">
                        {{ datosFacturacion.direccion }}
                    </div>
                    <div class="col-1">
                        <label for="inputCP">CP:</label>
                    </div>
                    <div class="col-1">
                        {{ datosFacturacion.cp }}
                    </div>
                </div>
                <!-- Datos generales de empresa -->
                <div class="row">
                    <div class="col-1">
                        <label for="inputCCAA">CCAA:</label>
                    </div>
                    <div class="col-2">
                        {{ datosFacturacion.codComunidad.nombre }}
                    </div>
                    <div class="col-1">
                        <label for="inputProvincia">Provincia:</label>
                    </div>
                    <div class="col-1">
                        {{ datosFacturacion.codProvincia.nombre }}
                    </div>
                    <div class="col-1">
                        <label for="inputEmail">Localidad:</label>
                    </div>
                    <div class="col-2">
                        {{ datosFacturacion.localidad }}
                    </div>
                </div>
            </div>
        {% endif %}
    <!-- /.row -->
    </div>

    {% if (form is not defined) and ("ROLE_DEMO" not in app.user.roles) %}
        <!-- PRODUCCION -->
        <script src="https://www.paypal.com/sdk/js?client-id=AS527GJnOoxVu4WlTB6OV7YkhA0WLTSVljAqFDo2JSe5VPkfvX2ELmI85TadsrHIqHxG1TtWrHvbJfRa&locale=es_ES&currency=EUR&disable-funding=sofort,card"></script>
        
        <!-- DEVELOPMENT -->
        <!--<script src="https://www.paypal.com/sdk/js?client-id=AdfmBcNjXGBuewHvRnxUdD2Yx2ZVmr6eLRqZXAWYmcU9gwkleTPrLx8ElkWl-Fj0flDQePeabWSScxog&locale=es_ES&currency=EUR&disable-funding=sofort"> // Replace YOUR_CLIENT_ID with your sandbox client ID</script>-->
        
        <div class="card card-secondary">
            <div class="card-header d-flex">
                <div><h3 class="card-title">Seleccione modo de pago</h3></div>
            </div>
                 
            <div class="card-body">
                <!-- Datos identificativos de empresa -->
                <div class="row" id="payment">
                    <div class="col-3">
                        &nbsp;
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-info btn-lg btn-block buttonCheckout" id="botonTransferencia">Transferencia Bancaria</button>
                        <BR />
                        <div id="paypal-button-container">
                        </div>
                    </div>
                    <div class="col-3">
                        &nbsp;
                    </div>
                </div>

                <div class="alert alert-info alert-dismissible fade show" role="alert" id="procesarCompra">
                    La compra se está procesando, un momento por favor.
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert" id="transferPayment">
                    La compra se ha procesado con éxito.<BR /><BR />
                    En cuanto recibamos su transferencia por la cuantía de <strong>{{ valorPago|number_format(2, ',', '.') }} €</strong> a la cuenta <strong>ES70-0073-0100-53-0610150103</strong> con el concepto <strong>"{{ datosFacturacion.nombre }} - Pedido del {{ "now"|date("d-m-Y") }}"</strong> le cargaremos sus licencias y emitiremos su factura.<BR /><BR />
                    Puede mandar el comprobante de la operacion al correo <a href = "mailto: admin@informeretributivo.com">admin@informeretributivo.com</a> para agilizar la operación.</p>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- /.row -->
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Tu carro está vacio, accede <a href="{{ path('productos') }}" class ="alert-link">aqui</a> para obtener las licencias.
    </div>
{% endif %}