{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        Aún no hay productos disponibles.
    </div>
{% else %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de Productos</h3>
        </div>
        {% if (creada is defined and creada is same as(true)) %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                La compra se realizó correctamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %} 

        {% if (app.request.get('compra') == true) %}
            <BR />
            <div class="alert alert-info" role="alert">
                La compra se realizó correctamente, puedes descargar tu factura desde el apartado <a href="{{ url('lista_facturas') }}" class ="alert-link">Facturas de compra</a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <BR />
        {% endif %} 
        
        <div class="card-body p-0"> 
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Precio (IVA Incl.)</th>
                            <th>Cantidad</th>
                            <th>Añadir al carro</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% set primero = true %}
                        {% for producto in lista %}

                            {% if (primero is same as (false)) and (producto.numLicencias is same as (1)) %}
                                <tr class="text-center">
                                    <thead>
                                        <tr class="text-center">
                                            <th colspan="4">Licencias con Asistencia</th>
                                        </tr>
                                    </thead>
                                </tr>
                            {% else %}
                                {% set primero = false %}        
                            {% endif %}
                            <tr class="text-center">
                                <td>{{ producto.nombre }}</td> 
                                <td>{{ producto.PVD|number_format(2, ',', '.') }} &euro;</td>
                                <td>
                                    <select name="cant{{producto.id}}" id="cant{{producto.id}}">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><a href="#" class="prodButton" onClick="mandaProducto({{producto.id}}, 'cant{{producto.id}}')"><i class="fas fa-cart-plus"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
{% endif %}