{% extends 'base.html.twig' %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}Email de reseteo de contraseña enviado{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
{% endblock %}

{% block bodyAtt %}class="hold-transition login-page"{% endblock %}
{% block body %}
    <div >
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <p class="h1">Resetea tu contraseña</p>
            </div>
            <div class="card-body">
                <p>Te hemos enviado un email que contiene un link para resetear tu contraseña.
                Este enlace caducará en 1 hora.
                <BR /><BR />
                Si no recibes el email, por favor revisa tu carpeta de spam o <a href="{{ path('app_forgot_password_request') }}">inténtalo de nuevo</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
