{% extends 'base.html.twig' %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}Resetea tu contraseña{% endblock %} 

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
{% endblock %}

{% block bodyAtt %}class="hold-transition login-page"{% endblock %}
{% block body %}
<div class="reset-password">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <p class="h1">Resetea tu contraseña</p>
        </div>
    
        <div class="card-body">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.usuario) }}
                <div>
                    <small>
                        Introduce tu usuario y te enviarémos un enlace al correo electrónico indicado para resetear tu contraseña.
                    </small>
                </div>
                <BR />
                <button class="btn btn-primary">Enviar email para reseteo de contraseña</button>
            {{ form_end(requestForm) }}

            <div class="checkbox mb-3">
                <BR />
                <label>
                    <a href="{{ url('app_login') }}">Login</a>
                </label>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
{% endblock %} 
{% block footer %}
{% endblock %}
{% block javascripts %}
{% endblock %}