{% extends 'base.html.twig' %}
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}Resetea tu contraseña{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
{% endblock %}

{% block bodyAtt %}class="hold-transition login-page"{% endblock %} 
{% block body %}
    <div class="reset-password">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
            <p class="h1">Resetea tu contraseña</p>
            </div>
            <div class="card-body">
            <p class="login-box-msg">Introduce las nuevas claves de acceso para tu usuario.</p>
            {{ form_start(resetForm) }}
                
                <div class="input-group mb-3">
                    {{ form_errors(resetForm.plainPassword.first) }}
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(resetForm.plainPassword.first) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(resetForm.plainPassword.second) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary">Modificar Contraseña</button>
                    </div>
                <!-- /.col -->
                </div>
            {{ form_end(resetForm) }}
                <div class="checkbox mb-3">
                    <BR />
                    <label>
                        <a href="{{ url('app_login') }}">Login</a>
                    </label>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %} 
{% endblock %}
