<div class="card card-primary" id="ibanCalc">
    <div class="card-header">
        <h3 class="card-title">
            Buscar CNAE
        </h3>
    </div><!-- /.card-header -->

    <div class="card-body">
        <div class="tab-content p-0">
            <div style="position: relative; height: 300px;">
                 <form method="POST" name="buscaCNAE" id="buscaCNAE" role="form">
                    <div class="row">
                        <div class="col-4">
                            <select name="buscaCNAE[tipoBusqueda]" class="form-control">
                                <option value="">-- Elija el tipo de búsqueda --</option>
                                <option value="codigo">Código</option>
                                <option value="actividad">Actividad</option>
                            </select>
                        </div>

                        <div class="col-6">
                            <input type="text" name="buscaCNAE[criterio]" id="criterioCNAE" class="form-control input-lg" placeholder="Introduzca el criterio de búsqueda">
                        </div>

                        <div class="col-2">
                            <div class="input-group">
                                <input type="button" class="btn btn-lg btn-info" id="botonBuscarCNAE" value="Buscar"> 
                            </div>
                        </div>
                    </div>
                </form>
                <BR>
                <div style="height: 240px; overflow: auto; display:none" id="listaEncontrada" role="alert">
            </div>
        </div>
    </div><!-- /.card-body -->
</div>
<!-- /.card -->