<div class="card card-primary" id="ibanCalc">
    <div class="card-header">
        <h3 class="card-title">
            Buscar IAE
        </h3>
    </div><!-- /.card-header -->

    <div class="card-body">
        <div class="tab-content p-0">
            <div style="position: relative; height: 300px;">
                 <form method="POST" name="buscarIAE" id="buscarIAE" role="form">
                    <div class="row">
                        <div class="col-4">
                            <select name="buscarIAE[tipoBusqueda]" class="form-control">
                                <option value="">-- Elija el tipo de búsqueda --</option>
                                <option value="grupo">Grupo</option>
                                <option value="epigrafe">Epigrafe</option>
                                <option value="denominacion">Denominación</option>
                            </select>
                        </div>

                        <div class="col-6">
                            <input type="text" name="buscarIAE[criterio]" id="criterioIAE" class="form-control input-lg" placeholder="Introduzca el criterio de búsqueda">
                        </div>

                        <div class="col-2">
                            <div class="input-group">
                                <input type="button" class="btn btn-lg btn-info" id="botonBuscarIAE" value="Buscar"> 
                            </div>
                        </div>
                    </div>
                </form>
                <BR>
                <div style="height: 240px; overflow: auto; display:none" id="listaEncontradaIAE" role="alert">
            </div>
        </div>
    </div><!-- /.card-body -->
</div>
<!-- /.card -->