<!-- Calendar -->
  <div class="card bg-gradient-success" id="calendar">
    <div class="card-header border-0">

      <h3 class="card-title">
        <i class="far fa-calendar-alt"></i>
        Calendar
      </h3>
      <!-- tools card -->
      <div class="card-tools">
        <!-- button with a dropdown -->
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
            <i class="fas fa-bars"></i>
          </button>
          <div class="dropdown-menu" role="menu">
            <a href="#" class="dropdown-item">Add new event</a>
            <a href="#" class="dropdown-item">Clear events</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">View calendar</a>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!-- /. tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body pt-0">
      <!--The calendar -->
      <div id="calendar" style="width: 100%"></div>
    </div>
    <!-- /.card-body -->
  </div>
<!-- /.card -->