{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        No se encontraron CNAE con los criterios introducidos.
    </div>
{% else %}

    <div class="card card-primary col-12">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr class="text-center table-Info">
                        <th>Código</th>
                        <th>Descripción</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for cnae in lista %}
                        <tr class="text-center">
                            <td>{{ cnae.codCNAE }}</td> 
                            <td>{{ cnae.tituloCNAE }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
{% endif %}