<div class="card card-primary" id="facturaCalc">
    <div class="card-header">
        <h3 class="card-title">
            Calcular Facturas
        </h3>
    </div><!-- /.card-header -->

    <div class="card-body">
        <div class="tab-content p-0">
            <div style="position: relative; height: 300px;">
                <div class="row">
                    <div class="col-6">
                        <label for="BaseImponible">Base imponible</label>
                    </div>
                    <div class="col-3">
                        <input type="text" name="baseImponible" id="baseImponible" class="form-control" placeholder="0,00 €">
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="inputIVA">IVA</label>
                    </div>
                    <div class="col-4">
                        <select id="iva" name="iva" class="form-control">
                            <option value="0">0%</option>
                            <option value="4">4%</option>
                            <option value="7">7%</option>
                            <option value="8">8%</option>
                            <option value="10">10%</option>
                            <option value="16">16%</option>
                            <option value="18">18%</option>
                            <option selected="" value="21">21%</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="text" name="impuestoiva" id="impuestoiva" readonly="" class="form-control" placeholder="0,00 €">
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="BaseImponible">Precio con IVA</label>
                    </div>
                    <div class="col-3">
                        <input type="text" name="precioiva" id="precioiva" readonly="" class="form-control" placeholder="0,00 €">
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="inputIVA">IRPF</label>
                    </div>
                    <div class="col-4">
                        <select name="irpf" id="irpf" class="form-control">
                            <option value="0">0 % - Sin retención</option>
                            <optgroup label="Valores actuales"></optgroup>
                            <option value="1">1 % - Módulos o Actividades Ganaderas</option>
                            <option value="2">2 % - Sector Agrario</option>
                            <option value="7">7 % - Profesionales en los dos primeros años de actividad</option>
                            <option value="15">15 % - Profesionales</option>
                            <option value="19">19 % - Alquileres o Intereses (capital mobiliario)</option>
                            <optgroup label="Valores bonificados (Ceuta y Melilla)"></optgroup>
                            <option value="2.8">2.8 % - Profesionales en los dos primeros años de actividad (Ceuta y Melilla)</option>
                            <option value="6">6 % - Profesionales (de Ceuta y Melilla)</option>
                            <option value="7.6">7.6 % - Alquiler (Ceuta y Melilla)</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="text" name="retencionirpf" id="retencionirpf" readonly="" class="form-control" placeholder="0,00 €">
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="BaseImponible">Importe total de factura</label>
                    </div>
                    <div class="col-3">
                        <input type="text" name="importeTotal" id="importeTotal" class="form-control" placeholder="0,00 €">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.card-body -->
</div>
<!-- /.card -->