{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        No se encontraron IAE con los criterios introducidos.
    </div>
{% else %}

    <div class="card card-primary col-12">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr class="text-center table-i nfo">
                        <th>Agrupación</th>
                        <th>Grupo</th>
                        <th>Epígrafe</th>
                        <th>Denominación</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for iae in lista %}
                        <tr class="text-center">
                            <td>{{ iae.agrupacion }}</td> 
                            <td>{{ iae.grupo }}</td>
                            <td>{{ iae.epigrafe }}</td>
                            <td>{{ iae.denominacion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
{% endif %}