<div class="card card-primary" id="facturaCalc">
    <div class="card-header">
        <h3 class="card-title">
            Calcular IBAN
        </h3>
    </div><!-- /.card-header -->

    <div class="card-body">
        <div class="tab-content p-0">
            <div style="position: relative; height: 300px;">
                <div class="row">
                    <h3 class="card-title">
                        Calcular Número IBAN
                    </h3>
                    <BR /><BR />
                    <form method="POST" name="calculaIBAN" id="calculaIBAN" role="form">
                        <div class="row">
                            <div class="col-2">
                                <select id="calculaIBAN[pais]" class="form-control input-lg" name="calculaIBAN[pais]" required="required" size="1">
                                    <option value="AL">Albania</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BE">Bélgica</option>
                                    <option value="BA">Bosnia y Herzegovina</option>
                                    <option value="BR">Brasil</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="HR">Croacia</option>
                                    <option value="CY">Chipre</option>
                                    <option value="CZ">Republica Checa</option>
                                    <option value="DK">Dinamarca</option>
                                    <option value="DO">República Dominicana</option>
                                    <option value="EE">Estonia</option>
                                    <option value="FO">Islas Feroe</option>
                                    <option value="FI">Finlandia</option>
                                    <option value="FR">Francia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Alemania</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Grecia</option>
                                    <option value="GL">Groenlandia</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="HU">Hungría</option>
                                    <option value="IS">Islandia</option>
                                    <option value="IE">Irlanda</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italia</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="LV">Lithuania</option>
                                    <option value="LB">Líbano</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lituania</option>
                                    <option value="LU">Luxemburgo</option>
                                    <option value="MK">Macedonia</option>
                                    <option value="MT">Malta</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauricio</option>
                                    <option value="MD">Moldavia</option>
                                    <option value="MC">Mónaco</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="NL">Holanda</option>
                                    <option value="NO">Noruega</option>
                                    <option value="PK">Pakistán</option>
                                    <option value="PS">Palestina</option>
                                    <option value="PL">Polonia</option>
                                    <option value="PT">Portugal</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RO">Rumanía</option>
                                    <option value="SM">San Marino</option>
                                    <option value="SA">Arabia Saudi</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SK">República Eslovaca</option>
                                    <option value="SI">Eslovenia</option>
                                    <option selected="selected" value="ES">España</option>
                                    <option value="SE">Suecia</option>
                                    <option value="CH">Suiza</option>
                                    <option value="TN">Túnez</option>
                                    <option value="TR">Turquía</option>
                                    <option value="UA">Ucrania</option>
                                    <option value="AE">Emiratos Árabes Unidos</option>
                                    <option value="GB">Reino Unido</option>
                                    <option value="VG">Islas Vírgenes Británicas</option>
                                </select>
                            </div>

                            <div class="col-2">
                                <input type="text" name="calculaIBAN[banco]" required="required" pattern="[0-9]{1,4}" maxlength="4" class="form-control input-lg" placeholder="Entidad">
                            </div>

                            <div class="col-2">
                                <input type="text" name="calculaIBAN[oficina]" required="required" pattern="[0-9]{1,4}" maxlength="4" class="form-control input-lg" placeholder="Oficina">
                            </div>

                            <div class="col-1">
                                <input type="text" name="calculaIBAN[dc]" required="required" pattern="[0-9]{1,2}" maxlength="2" class="form-control input-lg" placeholder="D.C">
                            </div>

                            <div class="col-2">
                                <input type="text" required="required" pattern="[0-9]{1,10}" maxlength="10" name="calculaIBAN[cuenta]" class="form-control input-lg" placeholder="Nº de cuenta">
                            </div>

                            <div class="col-3">
                                <input type="button" class="btn btn-lg btn-info" id="botonCalcular" value="Calcular"> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <h3 class="card-title">
                        Validar número de cuenta con IBAN
                    </h3>
                    <BR /><BR />
                    <form method="POST" name="validaIBAN" role="form">
                        <div class="row">
                            <div class="col-2">
                                <input type="text" name="validaIBAN[iban]" required="required" pattern="[A-Z]{2}[0-9]{2}" maxlength="4" class="form-control input-lg" placeholder="IBAN">
                            </div>

                            <div class="col-2">
                                <input type="text" name="validaIBAN[banco]" required="required" pattern="[0-9]{1,4}" maxlength="4" class="form-control input-lg" placeholder="Entidad">
                            </div>

                            <div class="col-2">
                                <input type="text" name="validaIBAN[oficina]" required="required" pattern="[0-9]{1,4}" maxlength="4" class="form-control input-lg" placeholder="Oficina">
                            </div>

                            <div class="col-1">
                                <input type="text" name="validaIBAN[dc]" required="required" pattern="[0-9]{1,2}" maxlength="2" class="form-control input-lg" placeholder="D.C">
                            </div>

                            <div class="col-2">
                                <input type="text" required="required" pattern="[0-9]{1,10}" maxlength="10" name="validaIBAN[cuenta]" class="form-control input-lg" placeholder="Nº de cuenta">
                            </div>

                            <div class="col-2">
                                <input type="submit" class="btn btn-lg btn-info" value="Validar">
                            </div>
                        </div>
                    </form>
                </div>
                <BR />
                <div class="alert alert-dismissible fade show" id="result" role="alert"></div>
            </div>
        </div>
    </div><!-- /.card-body -->
</div>
<!-- /.card -->