  {% if (app.session.get('emailNuevos') is defined) and (app.session.get('emailNuevos') > 0) %}
    {% set emailNuevos = app.session.get('emailNuevos') %}
  {% else %}
    {% set emailNuevos = false %}
  {% endif %}

<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Correos de Soporte</h3>
    </div>
    {{ form_start(form, {'attr': {'id': 'alta_empresa', 'method': 'POST'}}) }}
    <div class="card-body" style="height: 600px">
        <!-- Datos identificativos de empresa -->
        <div class="row">
          <div class="col-3">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Carpetas</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="{{ url('mailbox') }}" class="nav-link">
                      <i class="fas fa-inbox"></i> Bandeja de Entrada
                      <span class="badge bg-primary float-right">{{ emailNuevos }}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-send') }}" class="nav-link">
                      <i class="far fa-envelope"></i> Correos Enviados
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-deleted') }}" class="nav-link">
                      <i class="far fa-trash-alt"></i> Correos Eliminados
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-8">
            {{ form_start(form, {'attr': {'id': 'alta_correo', 'method': 'POST'}}) }}
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">Nuevo Mensaje</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                
                  {% if ("ROLE_SOPORTE" not in app.user.roles) %}
                    <div class="alert alert-info" role="alert">
                        Si se va a comunicar una incidencia, por favor, intente enviar una captura con el error producido para facilitar la resolución.
                    </div>
                  {% else %}
                    <div class="form-group">
                      {{ form_widget(form.gestorSeleccionado, { 'attr':{'class': "form-control"}}) }}
                    </div>
                  {% endif %}

                  <div class="form-group">
                    {% if correoRelacionado is defined %}
                      {{ form_widget(form.titulo, { 'attr':{'class': "form-control", 'value': 'RV: ' ~ correoRelacionado.titulo}}) }}
                    {% else %}
                      {{ form_widget(form.titulo, { 'attr':{'class': "form-control"}}) }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form_widget(form.cuerpo, { 'attr':{'class': "form-control", 'id': 'compose-textarea', 'rows': '5' }}) }}
                  </div>
                  <div class="form-group">
                    <div class="btn btn-default btn-file">
                      <i class="fas fa-paperclip"></i> Adjunto
                      {{ form_widget(form.adjuntos) }}
                    </div>
                    <p class="help-block">Max. 2MB</p>
                  </div>

                  <div class="text-center">
                    {{ form_widget(form.save, { 'attr':{'class': "btn btn-primary", 'id': 'compose-textarea' }}) }}
                  </div>
                </div>
              </div>
            {{ form_end(form) }}
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>