  {% if (app.session.get('emailNuevos') is defined) and (app.session.get('emailNuevos') > 0) %}
    {% set emailNuevos = app.session.get('emailNuevos') %}
  {% else %}
    {% set emailNuevos = false %}
  {% endif %}
  
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Correos de Soporte</h3>
    </div>
    <div class="card-body">
        <!-- Datos identificativos de empresa -->
        <div class="row">
          <div class="col-3">
            <a href="{{ url('compose') }}" class="btn btn-secondary btn-block mb-3">Nuevo Correo</a>
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Carpetas</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="{{ url('mailbox') }}" class="nav-link">
                      <i class="fas fa-inbox"></i> Bandeja de Entrada
                      <span class="badge bg-primary float-right">{{ emailNuevos }}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-send') }}" class="nav-link">
                      <i class="far fa-envelope"></i> Correos Enviados
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-deleted') }}" class="nav-link">
                      <i class="far fa-trash-alt"></i> Correos Eliminados
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-8">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">{{ cabecera }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="card-body p-0">
                    <div class="mailbox-controls">
                      <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-left"></i>
                          </button>
                          <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-right"></i>
                          </button>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.float-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                      <table class="table table-hover table-striped">
                        <tbody>
                          {% if (lista is same as ('')) or (lista is empty) %}
                            <tr>
                              <td colspan="5" class="text-center">No tiene correos en {{ cabecera }}</td>
                            </tr>
                          {% else %} 
                            {% for correo in lista %}
                                <tr>
                                  <td width="5%">
                                    <div class="icheck-primary">
                                      <input type="checkbox" value="{{ correo.id }}" id="check{{ correo.id }}">
                                      <label for="check{{ correo.id }}"></label> 
                                    </div>
                                  </td>
                                  <td width="20%" class="mailbox-name">{% if (correo.estado is same as ("No Leido")) %}<b>{{ correo.nombre }}</b>{% else %}{{ correo.nombre }}{% endif %}</td>
                                  
                                  {% if cabecera is same as ("Bandeja de entrada") %}
                                      <td width="45%" class="mailbox-subject">{% if (correo.estado is same as ("No Leido")) %}<b><a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'entrada' }) }}">{{ correo.titulo }}</a></b>{% else %}<a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'entrada' }) }}">{{ correo.titulo }}</a>{% endif %}</td>
                                  {% elseif cabecera is same as ("Correos Enviados") %}
                                      <td width="45%" class="mailbox-subject">{% if (correo.estado is same as ("No Leido")) %}<b><a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'enviados' }) }}">{{ correo.titulo }}</a></b>{% else %}<a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'enviados' }) }}">{{ correo.titulo }}</a>{% endif %}</td>
                                  {% else %}
                                      <td width="45%" class="mailbox-subject">{% if (correo.estado is same as ("No Leido")) %}<b><a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'eliminados' }) }}">{{ correo.titulo }}</a></b>{% else %}<a href="{{ path('read-mail', { 'idCorreo' : correo.id, 'bandeja' : 'eliminados' }) }}">{{ correo.titulo }}</a>{% endif %}</td>
                                  {% endif %}

                                  <td width="5%" class="mailbox-attachment">{% if (correo.adjuntos is null) or (correo.adjuntos is empty) %}{% else %}<i class="fas fa-paperclip"></i>{% endif %}</td>
                                  <td width="20%" class="mailbox-date">{{ correo.fechaCreacion|date("d/m/Y H:m:s") }}</td>
                                  <td width="5%" class="mailbox-date">
                                    {% if cabecera is same as ("Bandeja de entrada") %}
                                      <a href="{{ path('delete-mail', { 'idCorreo' : correo.id, 'bandeja' : 'entrada' }) }}" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                      </a>
                                    {% elseif cabecera is same as ("Correos Enviados") %}
                                      <a href="{{ path('delete-mail', { 'idCorreo' : correo.id, 'bandeja' : 'enviados' }) }}" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                      </a>
                                    {% else %}
                                      <a href="{{ path('delete-mail-definitivo', { 'idCorreo' : correo.id }) }}" class="btn btn-default btn-sm" onclick="return confirm('Va a eliminar el correo, ¿desea continuar?')">
                                        <i class="far fa-trash-alt"></i>
                                      </a>
                                    {% endif %}
                                  </td>
                                </tr>
                            {% endfor %}
                          {% endif %} 
                        </tbody>
                      </table>
                      <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>