  {% if (app.session.get('emailNuevos') is defined) and (app.session.get('emailNuevos') > 0) %}
    {% set emailNuevos = app.session.get('emailNuevos') %}
  {% else %}
    {% set emailNuevos = false %}
  {% endif %}
  
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Correos de Soporte</h3>
    </div>
    <div class="card-body">
        <!-- Datos identificativos de empresa -->
        <div class="row">
          <div class="col-3">
            <a href="{{ url('compose') }}" class="btn btn-secondary btn-block mb-3">Nuevo Correo</a>
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Carpetas</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="{{ url('mailbox') }}" class="nav-link">
                      <i class="fas fa-inbox"></i> Bandeja de Entrada
                      <span class="badge bg-primary float-right">{{ emailNuevos }}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-send') }}" class="nav-link">
                      <i class="far fa-envelope"></i> Correos Enviados
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ url('mailbox-deleted') }}" class="nav-link">
                      <i class="far fa-trash-alt"></i> Correos Eliminados
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-8">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <div class="row">
                    <div class="col-2"><h6><b>Destinatario:</b></h6></div>
                    <div class="col-10"><h6>{{ datosCorreo.nombre }}</h6></div>
                  </div>
                </div>
                <div class="card-header">
                  <div class="row">
                    <div class="col-2"><h6><b>Asunto:</b></h6></div>
                    <div class="col-7"><h6>{{ datosCorreo.titulo }}</h6></div>
                    <div class="col-3"><h6><b>Fecha: </b><span class="float-right">{{ datosCorreo.fechaCreacion|date("d/m/Y H:m:s") }}</span></h6></div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="mailbox-read-message" style="height: 300px">
                    {{ datosCorreo.cuerpo }}
                  </div>
                  <!-- /.mailbox-read-message -->
                </div>
                <!-- /.card-body -->
                {% if (datosCorreo.adjuntos is not null) and (datosCorreo.adjuntos is not empty) %}
                  <div class="card-footer bg-white">
                    <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                      <li>
                        <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                        <div class="mailbox-attachment-info">
                        <a href="{{ path('adjunto', { 'filename': datosCorreo.adjuntos[0] }) }}" class="mailbox-attachment-name">{{ datosCorreo.adjuntos[0] }} <i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                {% endif %}
                <!-- /.card-footer -->
                <div class="card-footer">
                  <div class="float-right">
                    <a href="{{ path('reply', { 'idCorreo' : datosCorreo.id }) }}" class="btn btn-default btn-sm">
                      <i class="fas fa-reply"></i> Reply
                    </a>
                  </div>
                  {% if bandeja is not same as ("eliminado") %}
                    <a href="{{ path('delete-mail', { 'idCorreo' : datosCorreo.id, 'bandeja' : bandeja }) }}" class="btn btn-default btn-sm">
                      <i class="far fa-trash-alt"></i> Delete
                    </a>
                  {% else %}
                    <a href="{{ path('delete-mail-definitivo', { 'idCorreo' : datosCorreo.id }) }}" class="btn btn-default btn-sm">
                      <i class="far fa-trash-alt"></i> Delete
                    </a>
                  {% endif %}
                </div>
                <!-- /.card-footer -->
                </div>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>