{% if (app.request.get('generada') == true) and (app.request.get('codFactura') > 0) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        La factura se generó correctamente, puede descargarla desde <a href="{{ path('genera_factura', { 'codFactura': app.request.get('codFactura') }) }}" target="_blank">aquí</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="card card-primary">
    
    <div class="card-header d-flex">
        <div><h3 class="card-title">Datos de facturación</h3></div>
    </div>

    {% if form is defined %}
        {{ form_start(form, {'attr': {'id': 'datos_facturacion', 'method': 'POST'}}) }}
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <label for="inputNombre">Gestor:</label>
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.codGestor) }} 
                    </div>
                </div>

                <div id="nuevosDatosFacturacion">
                    <!-- Datos identificativos de empresa -->
                    <div class="row">
                        <div class="col-4">
                            <label for="inputNombre">Razon Social</label>
                            {{ form_widget(form.nombre) }} 
                        </div>
                        <div class="col-2">
                            <label for="inputCif">CIF/NIF/NIE</label>
                            {{ form_widget(form.cif) }}
                        </div>
                        <div class="col-4">
                            <label for="inputDireccion">Dirección</label>
                            {{ form_widget(form.direccion) }}
                        </div>
                        <div class="col-2">
                            <label for="inputCP">CP</label>
                            {{ form_widget(form.cp) }}
                        </div>
                    </div>
                    <!-- Datos generales de empresa -->
                    <div class="row">
                        <div class="col-4">
                            <label for="inputCCAA">CCAA</label>
                            {{ form_widget(form.codComunidad) }}
                        </div>
                        <div class="col-4">
                            <label for="inputProvincia">Provincia</label>
                            {{ form_widget(form.codProvincia) }}
                        </div>
                        <div class="col-4">
                            <label for="inputEmail">Localidad</label>
                            {{ form_widget(form.localidad) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="inputNombre">Producto:</label>
                        {{ form_widget(form.producto) }}
                    </div>
                    <div class="col-2">
                        <label for="inputNombre">Cantidad:</label>
                        {{ form_widget(form.cantidad) }}
                    </div>
                    <div id="precioTotal" class="col-4">
                        &nbsp;
                    </div>
                    <div id="precioTotal" class="col-2 d-flex align-items-end">
                        <b>Total:</b>&nbsp;&nbsp;<span id="importeTotal">0,00 €</span> (IVA Incl.)
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-center">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
    {% else %}
        <div class="card-body">
            <!-- Datos identificativos de empresa -->
            <div class="row">
                <div class="col-1">
                    <label for="inputNombre">Razon Social: </label>
                </div>
                <div class="col-2">
                    {{ datosFacturacion.nombre }}
                </div>
                <div class="col-1">
                    <label for="inputCif">CIF/NIF/NIE:</label>
                </div>
                <div class="col-1">
                    {{ datosFacturacion.cif }}
                </div>
                <div class="col-1">
                    <label for="inputDireccion">Dirección:</label>
                </div>
                <div class="col-2">
                    {{ datosFacturacion.direccion }}
                </div>
                <div class="col-1">
                    <label for="inputCP">CP:</label>
                </div>
                <div class="col-1">
                    {{ datosFacturacion.cp }}
                </div>
            </div>
            <!-- Datos generales de empresa -->
            <div class="row">
                <div class="col-1">
                    <label for="inputCCAA">CCAA:</label>
                </div>
                <div class="col-2">
                    {{ datosFacturacion.codComunidad.nombre }}
                </div>
                <div class="col-1">
                    <label for="inputProvincia">Provincia:</label>
                </div>
                <div class="col-1">
                    {{ datosFacturacion.codProvincia.nombre }}
                </div>
                <div class="col-1">
                    <label for="inputEmail">Localidad:</label>
                </div>
                <div class="col-2">
                    {{ datosFacturacion.localidad }}
                </div>
            </div>
        </div>
    {% endif %}
<!-- /.row -->
</div>