{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        Aún no hay facturas generadas, accede <a href="{{ path('productos') }}" class ="alert-link">aqui</a> para obtener las licencias.
    </div>
{% else %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de Facturas Generadas</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Código Factura</th>
                            <th>Razón Social</th>
                            <th>Fecha</th>
                            <th>Ver Factura</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facturas in lista %}
                            <tr class="text-center">
                                <td>{{ facturas.codFactura }}</td>
                                <td>{{ facturas.nombre }}</td>
                                <td>{{ facturas.fechaFactura|date("d/m/Y") }}</td>
                                <td><a href="{{ path('genera_factura', { 'codFactura': facturas.id }) }}" target="_blank"><i class="fas fa-file-invoice"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
{% endif %}