{% if app.request.get('pagada') == true %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        La compra se marco como pagada correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        No hay compras pendientes de pago en estos momentos.
    </div>
{% else %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de transferencias pendientes</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Razón Social</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Fecha Compra</th>
                            <th>Total</th>
                            <th>Marcar como pagado</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transferencia in lista %}
                            {% set valorPago = transferencia.importe - ((transferencia.importe / 1.21) * 0.15)|round(2, 'common') %}
                            <tr class="text-center">
                                <td>{{ transferencia.nombre }}</td> 
                                <td>{{ transferencia.telefono }}</td>
                                <td>{{ transferencia.email }}</td>
                                <td>{{ transferencia.fechaCompra|date("d/m/Y") }}</td>
                                <td>{{ valorPago|number_format(2, ',', '.') }} €</td>
                                <td><a href="{{ path('transferencia_confirm', { 'idCompra': transferencia.id, 'idGestor': transferencia.codGestor }) }}" onclick="return confirm('Va a marcar como pagada la transferencia, ¿desea continuar?')"><i class="fas fa-coins"></i></a></td>
                                <td><a href="{{ path('transferencia_delete', { 'idCompra': transferencia.id, 'idGestor': transferencia.codGestor }) }}" onclick="return confirm('Va a eliminar la transferencia, ¿desea continuar?')"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
{% endif %}