{% if creada is same as(true) %}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
      El trabajador se dio de alta correctamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
{% endif %} 

{% if creada is same as(false) %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
      Se produjo un error al introducir los datos del trabajador. Por favor, compruebe los datos y vuelva a intentarlo.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
{% endif %}

<a href="{{ path('lista_trabajadores', { 'codEmpresa': empresa.id }) }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

	<div class="card card-primary">
		<div class="card-header">
			  <h3 class="card-title">Nuevo trabajador para la empresa {{empresa.nombre}}</h3>
		</div>
		{{ form_start(form, {'attr': {'id': 'alta_trabajador', 'method': 'POST'}}) }}
		<div class="card-body">
			<!-- Datos identificativos de trabajador -->
			<div class="row">
                <div class="col-3">
                    <label for="inputNombre">Nombre</label>
                    {{ form_widget(form.nombre) }}
                </div>
                <div class="col-4">
                    <label for="inputApellidos">Apellidos:</label>
                    {{ form_widget(form.apellidos) }}
                </div>
                <div class="col-2">
                    <label for="inputCif">NIF/NIE:</label>
                    {{ form_widget(form.dni) }}
                </div>
                <div class="col-3">
                    <label for="inputCif">Sexo:</label>
                    {{ form_widget(form.sexo) }}
                </div>
            </div>
			<!-- Datos puesto de trabajador -->
			<div class="row">
                <div class="col-4">
                    <label for="inputPuesto">Grupo</label>
                    {{ form_widget(form.grupo) }}
                </div>
                <div class="col-3">
                    <label for="inputPuesto">Código Contrato</label>
                    {{ form_widget(form.contrato) }}
                </div>
                <div class="col-3">
                    <label for="inputPuesto">Convenio</label> 
                    {{ form_widget(form.codConvenio) }}
                </div>
                <div class="col-2" id="nuevoConvenio1" style="display:none;">
                    <label for="inputFechaInicioEmpresa">Nombre convenio</label>
                    {{ form_widget(form.tipoConvenio) }}
                </div>
            </div>
			<!-- Otros datos trabajador -->
			<div class="row">
                <div class="col-3">
                    <label for="inputPuesto">Puesto</label>
                    {{ form_widget(form.puesto) }}
                </div>
                <div class="col-2">
                    <label for="inputFechaInicioEmpresa">Fecha Inicio Empresa</label>
                    {{ form_widget(form.fechaInicioEmpresa) }}
                </div>
                <div class="col-2">
                    <label for="inputFechaBaja">Fecha Fin Empresa</label>
                    {{ form_widget(form.fechaFinEmpresa) }}
                </div>
                <div class="col-2">
                    <label for="inputCP">Num. Pagas</label>
                    {{ form_widget(form.numpagas) }}
                </div>
            </div>
            <!-- Otros datos trabajador -->
			<div class="row">
                <div class="col-4">
                <label for="inputEmail">Email Trabajador</label>
                    {{ form_widget(form.email) }} 
                </div>
                <div class="col-2">
                    <label for="inputPuesto">% Jornada Laboral</label>
                    {{ form_widget(form.porcentajeJornada, { 'attr':{'value': '100' }}) }}
                </div>
                <div class="col-2">
                    <label for="inputImporte">&nbsp;</label>
                    {{ form_widget(form.jornadaReducida) }}
                </div>
                <div class="col-2" id="datosReduccion" style="display:none;">
                    <label for="inputMotivo">Motivo Reducción</label>
                    {{ form_widget(form.motivoReduccion) }}
                </div>
                <div class="col-2" id="datosReduccion2" style="display:none;">
                <label for="inputSalarioAnual">% Jornada Efectiva</label>
                    {{ form_widget(form.porcentajeReducida) }} 
                </div>
            </div>
		</div>
	</div>
      <!-- /.card-body -->

      <div class="text-center">
          {{ form_row(form.save) }}
      </div>
    {{ form_end(form) }}
  <!-- /.row -->
</div>