{% if modificado is same as(true) or app.request.get('modificado') == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        Los datos se han modificado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elseif modificado is same as(false) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
        Se produjo un error al modificar los datos, por favor vuelva a intentarlo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elseif trabajador is null %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="warning-alert">
        El trabajador indicado no existe.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<a href="{{ path('lista_trabajadores', { 'codEmpresa': empresa.id }) }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

{% if trabajador is not null %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Perfil del trabajador {{ trabajador.nombre }} {{ trabajador.apellidos }} de la empresa {{empresa.nombre}}</h3>
        </div>
        {{ form_start(form, {'attr': {'method': 'POST'}}) }}
        <div class="card-body">
            <!-- Datos del Trabajador -->
            <div class="row">
                <div class="col-3">
                    <label for="inputNombre">Nombre</label>
                    {{ form_widget(form.nombre, { 'attr':{'value': trabajador.nombre }}) }}
                </div>
                <div class="col-4">
                    <label for="inputApellidos">Apellidos:</label>
                    {{ form_widget(form.apellidos, { 'attr':{'value': trabajador.apellidos  }}) }}
                </div>
                <div class="col-2">
                    <label for="inputCif">NIF/NIE:</label>
                    {{ form_widget(form.dni, { 'attr':{'value': trabajador.dni  }}) }}
                </div>
                <div class="col-3">
                    <label for="inputCif">Sexo:</label>
                    {{ form_widget(form.sexo) }}
                </div>
            </div>
            <!-- Datos del Puesto -->
            <div class="row">
                <div class="col-4">
                    <label for="inputPuesto">Grupo</label>
                    {{ form_widget(form.grupo) }}
                </div>
                <div class="col-3">
                    <label for="inputPuesto">Código Contrato</label>
                    {{ form_widget(form.contrato) }}
                </div>
                <div class="col-3">
                    <label for="inputPuesto">Convenio</label>
                    {{ form_widget(form.codConvenio) }}
                </div>
                <div class="col-2" id="nuevoConvenio1" style="display:none;">
                    <label for="inputFechaInicioEmpresa">Nombre convenio</label>
                    {{ form_widget(form.tipoConvenio) }}
                </div>
            </div>
            <!-- Datos salario -->
            <div class="row">
                <div class="col-3">
                    <label for="inputPuesto">Puesto</label>
                    {{ form_widget(form.puesto, { 'attr':{'value': trabajador.puesto }}) }}
                </div>
                <div class="col-2">
                    <label for="inputFechaInicioEmpresa">Fecha Inicio Empresa</label>
                    {{ form_widget(form.fechaInicioEmpresa) }}
                </div>
                <div class="col-2">
                    <label for="inputFechaBaja">Fecha Fin Empresa</label>
                    {{ form_widget(form.fechaFinEmpresa) }}
                </div>
                <div class="col-2">
                    <label for="inputCP">Num. Pagas</label>
                    {{ form_widget(form.numPagas, { 'attr':{'value': trabajador.numPagas }}) }}
                </div>
            </div>
            <!-- Otros datos trabajador -->
            <div class="row">
                <div class="col-4">
                    <label for="inputEmail">Email Trabajador</label>
                    {{ form_widget(form.email, { 'attr':{'value': trabajador.email }}) }} 
                </div>
                <div class="col-2">
                    <label for="inputPuesto">% Jornada Laboral</label>
                    {{ form_widget(form.porcentajeJornada, { 'attr':{'value': trabajador.porcentajeJornada }}) }}
                </div>
                <div class="col-2">
                    <label for="inputImporte">&nbsp;</label>
                    {{ form_widget(form.jornadaReducida, (trabajador.jornadaReducida is same as(true) ? {'attr': {'checked': 'checked'} } : {})) }}
                </div>
                <div class="col-2" id="datosReduccion" {% if trabajador.codMotivoReduccion is null %} style="display:none;" {% endif %}>
                    <label for="inputMotivo">Motivo Reducción</label>
                    {{ form_widget(form.motivoReduccion) }} 
                </div>
                <div class="col-2" id="datosReduccion2" {% if trabajador.codMotivoReduccion is null %} style="display:none;" {% endif %}>
                <label for="inputSalarioAnual">% Jornada Efectiva</label>
                    {{ form_widget(form.porcentajeReducida, { 'attr':{'value': trabajador.porcentajeReducida }}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
{% endif %}