{% if creada is same as(true) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        La empresa se dio de alta correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if creada is same as("Asistida") %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        La empresa se dio de alta correctamente, en breve nos pondremos en contacto con usted para pedir la documentación que deberá enviar a la dirección de correo <b>registrodatos@informeretributivo.com</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if (app.user.licenciasDisponibles >0) or (app.user.licenciasDisponiblesAsistida >0) %}

  {% if creada is same as(false) %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
          Se produjo un error al introducir los datos de la empresa, por favor compruebe los datos y vuelva a intentarlo.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endif %}

  <div class="card card-primary">
      <div class="card-header">
          <h3 class="card-title">Nueva Empresa</h3>
      </div>
      {{ form_start(form, {'attr': {'id': 'alta_empresa', 'method': 'POST'}}) }}
      <div class="card-body">
          <!-- Datos identificativos de empresa -->
          <div class="row">
            <div class="col-5">
              <label for="inputNombre">Nombre</label>
              {{ form_widget(form.nombre) }}
            </div>
            <div class="col-3">
              <label for="inputCif">CIF/NIF/NIE</label>
              {{ form_widget(form.cif) }}
            </div>
            <div class="col-4">
              <label for="inputTelefono">Teléfono</label>
              {{ form_widget(form.telefono) }}
            </div>
          </div>
          <!-- Datos generales de empresa -->
          <div class="row">
            <div class="col-5">
            <label for="inputEmail">Email</label>
              {{ form_widget(form.email) }}
            </div>
            <div class="col-3">
              <label for="inputCCAA">CCAA</label>
              {{ form_widget(form.codComunidad) }}
            </div>
            <div class="col-4">
              <label for="inputProvincia">Provincia</label>
              {{ form_widget(form.codProvincia) }}
            </div>
          </div>
          <!-- Dirección de empresa -->
          <div class="row">
            <div class="col-4">
            <label for="inputDireccion">Dirección</label>
              {{ form_widget(form.direccion) }}
            </div>
            <div class="col-2">
              <label for="inputCP">CP</label>
              {{ form_widget(form.cp) }}
            </div>
            <div class="col-2">
              <label for="inputTipoLicencia">Tipo Licencia</label>
              {{ form_widget(form.TipoLicencia) }}
            </div>
            <div class="col-4">
              <label for="inputDireccion">Registro horario Activado</label>
                {{ form_widget(form.registroHorario) }}
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer text-center">
          {{ form_row(form.save) }}
      </div>
    {{ form_end(form) }}
  <!-- /.row -->
</div>
{% else %}
<div class="alert alert-warning">Actualmente no tiene licencias disponibles para dar de alta empresas, accede <a href="#" class ="alert-link">aqui</a> para contratar licencias.</div>
{% endif %}
