<a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Registro Horario de la empresa {{empresa.nombre}}</h3>
    </div>
    {{ form_start(form, {'attr': {'id': 'registro_horario', 'method': 'POST'}}) }}
    <div class="card-body">
        <!-- Datos identificativos de empresa -->
        <div class="row">
            <div class="col-5">
                <label for="inputNombre">Trabajador</label>
                {{ form_widget(form.trabajador) }}
            </div>
            <div class="col-3">
                <label for="inputFechaInicio">Fecha Inicio</label>
                {{ form_widget(form.fechaInicio) }}
            </div>
            <div class="col-4">
                <label for="inputFechaFin">Fercha Fin</label>
                {{ form_widget(form.fechaFin) }}
            </div>
        </div>
        
        </div>
    </div>  
</div>

<div class="card-footer text-center">
    {{ form_row(form.save) }}
</div>

{{ form_end(form) }}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">QR de acceso al login</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                &nbsp;
            </div>
            <div class="col-2">
                <div class="text-center" style="margin-top: 10px;"><img src="{{ asset('uploads/qr_login.png') }}" alt="Login" width="100px" class="brand-image elevation-3" style="opacity: .8"></div>
            </div>
            <div class="col-5">
                &nbsp;
            </div>
        </div>
        
        </div>
    </div>  
</div>
</div>
