{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        Aún no hay trabajadores en la empresa {{ empresa.nombre }}, accede <a href="{{ path('crear_trabajador', { 'codEmpresa': empresa.id }) }}" class ="alert-link">aqui</a> para darlos de alta.
    </div>
{% else %}
    {% if app.request.get('mandado') == true %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
            Se envió correctamente la clave de la empresa {{ empresa.nombre }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %} 

    <a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
        <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
    </a>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de Trabajadores de la empresa {{ empresa.nombre }}</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>NIF/NIE</th>
                            <th>Grupo</th>
                            <th>Puesto</th>
                            <th>Num. Pagas</th>
                            <th>Fecha Inicio Empresa</th>
                            <th>Fecha Fin Empresa</th>
                            <th>Detalle Salarial</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trabajador in lista %}
                                {% set fechaFin = trabajador.fechaFinEmpresa %}
                            <tr class="text-center">
                                <td>{{ trabajador.nombre }} {{ trabajador.apellidos }}</td> 
                                <td>{{ trabajador.dni }}</td>
                                <td>{{ trabajador.grupo.grupo }}</td>
                                <td>{{ trabajador.puesto }}</td>
                                <td>{{ trabajador.numPagas }}</td>
                                <td>{{ trabajador.fechaInicioEmpresa|date("d/m/Y") }}</td>
                                <td>{{ fechaFin ? fechaFin|date("d/m/Y") : "---" }}</td>
                                <td><a href="{{ path('detalle_registro_salarial', { 'codEmpresa': empresa.id, 'codTrabajador': trabajador.id }) }}"><i class="fas fa-file-alt"></i></a></td>
                                <td><a href="{{ path('perfil_trabajador', { 'codEmpresa': empresa.id, 'codTrabajador': trabajador.id }) }}"><i class="fas fa-pen"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
    <div class="text-center">
        <a href="{{ path('crear_trabajador', {'codEmpresa': empresa.id}) }}" class="nav-link" id="nuevoTrabajador"><button type="button" id="alta_trabajador" class="btn-primary btn">Alta Nuevo Trabajador</button></a>
    </div>
{% endif %}