{% if (creada is same as(true)) or app.request.get('creada') == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        El informe anual se registró correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 

{% if app.request.get('creada') == 'eliminada' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        El informe del año {{ app.request.get('anio') }} se ha eliminado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 

{% if creada is same as(false) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
        Se produjo un error al generar el informe, por favor vuelva a intentarlo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if vacio is defined and vacio is same as(true) %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Para generar informes es necesario rellenar previamente los detalles salariales de los trabajadores.
    </div>
{% endif %}

<a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Generar Informes anuales de la empresa {{ empresa.nombre }}</h3>
    </div>
    {{ form_start(form, {'attr': {'id': 'detalle_salarial', 'method': 'POST'}}) }}
    <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label for="inputNombre">Año</label>
            {{ form_widget(form.anio) }}
          </div>
          <div class="col-2">
            <label for="inputNombre">&nbsp;</label>
            {{ form_row(form.save) }}
          </div>
        </div>
      </div>
    </div>
  {{ form_end(form) }}
<!-- /.row -->
</div>

{% if (lista is not same as ('')) and (lista is not empty) %}
    <div class="card card-secondary">
        <div class="card-header">
                <h3 class="card-title">Informes Generados de {{ empresa.nombre }}</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr class="text-center">
                                <th>Año</th>
                                <th>Fecha de Creación</th>
                                <th>Informe Excel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set claseRow = '' %}

                            {% for informes in lista %}
                            
                                {% if claseRow is same as('') %}
                                    {% set claseRow = 'table-secondary' %}                          
                                {% else %}
                                    {% set claseRow = '' %}
                                {% endif %}

                                <tr class="text-center {{ claseRow }}">
                                    <td>{{ informes.anio }}</td>
                                    <td>{{ informes.fechaCreacion|date("d/m/Y H:m") }}</td>
                                    <td><a href="{{ path('informe_excel_completo', { 'codEmpresa': empresa.id, 'anio': informes.anio }) }}" class="excel"><i class="fas fa-file-excel"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    <!-- /.row -->
    </div>
{% endif %} 