{% if modificado is same as(true) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        Los datos se han modificado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elseif modificado is same as(false) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
        Se produjo un error al modificar los datos, por favor vuelva a intentarlo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Perfil Empresa</h3>
    </div>
    {{ form_start(form, {'attr': {'method': 'POST'}}) }}
    <div class="card-body">
        <!-- Datos identificativos de Gestor -->
        <div class="row">
        <div class="col-5">
            <label for="inputNombre">Nombre</label>
            {{ form_widget(form.nombre, { 'attr':{'value': empresa.nombre }}) }}
        </div>
        <div class="col-3">
            <label for="inputCif">CIF/NIF/NIE:</label>
            {{ form_widget(form.cif, { 'attr':{'value': empresa.cif, 'disabled':'disabled'}}) }}
        </div>
        <div class="col-4">
            <label for="inputTelefono">Teléfono</label>
            {{ form_widget(form.telefono, { 'attr':{'value': empresa.telefono }}) }}
        </div>
        </div>
        <!-- Datos generales de Empresa -->
        <div class="row">
        <div class="col-5">
        <label for="inputEmail">Email</label>
            {{ form_widget(form.email, { 'attr':{'value': empresa.email }}) }}
        </div>
        <div class="col-3">
            <label for="inputCCAA">CCAA</label>
            {{ form_widget(form.codComunidad) }}
        </div>
        <div class="col-4">
            <label for="inputProvincia">Provincia</label>
            {{ form_widget(form.codProvincia) }}
        </div>
        </div>
        <!-- Dirección de Empresa -->
        <div class="row">
            <div class="col-5">
            <label for="inputDireccion">Dirección</label>
                {{ form_widget(form.direccion, { 'attr':{'value': empresa.direccion }}) }}
            </div>
            <div class="col-3">
                <label for="inputCP">CP</label>
                {{ form_widget(form.cp, { 'attr':{'value': empresa.cp }}) }}
            </div>
            <div class="col-4">
            <label for="inputDireccion">Registro horario Activado</label>
              {{ form_widget(form.registroHorario) }}
            </div>            
          </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer text-center">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
<!-- /.row -->
</div>