<!DOCTYPE html>
<html>
    <head>
        {% block meta %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body {% block bodyAtt %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="main-footer">
                <strong>Copyright &copy; 2021</strong>
                All rights reserved.
            </footer> 
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>