{% extends 'base.html.twig' %}

{% block meta %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block title %}Informe Retributivo{% endblock %}

{% block stylesheets %}
  <!-- Favicons -->
  <link href="{{ asset('img/faviconrrsoft.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css'>

  <!-- Template Main CSS File -->
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">

  <style>
    .error {
        color: red;
    }
    </style>
{% endblock %}

{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a class="logo mr-auto"><img src="{{ asset('img/logo4.png') }}" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="col-xl-7 col-lg-9 text-center">
          &nbsp;
        </div>
        <div class="col-xl-7 col-lg-9 text-center">
          &nbsp;
        </div>
        <div class="section-title">
          <h2>REGISTRO RETRIBUTIVO</h2>
        </div>

        {% if (send is same as(true)) or app.request.get('send') == 1 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                Gracias por contactarnos, en breve nos pondremos en contacto con usted y le informaremos.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %} 

        <div class="row content">
          <div>
            <p>
              El registro retributivo es un documento donde deberá recogerse toda la información salarial de la empresa, de forma detallada, que muestre de forma separada las retribuciones de hombres y mujeres de tu plantilla.
            </p>
            <p>
              <strong>¿Qué debe incluir un REGISTRO RETRIBUTIVO?</strong>
            </p>
            <p>
                Su registro retributivo deberá incluir los siguientes datos, desagregados por sexo, para adaptarse a la nueva norma:

                <ul>
                    <li>
                        <ul>
                            <li><i class="fas fa-angle-double-right"></i> Salario total anual y brecha de género de este concepto.</li>
                            <li><i class="fas fa-angle-double-right"></i> Salario base anual y brecha de género de este concepto.</li>
                            <li><i class="fas fa-angle-double-right"></i> Complementos salariales anuales y brecha de género de este concepto.</li>
                            <li><i class="fas fa-angle-double-right"></i> Percepciones extrasalariales y brecha de género de este concepto.</li>
                            <li><i class="fas fa-angle-double-right"></i> Percepciones anuales por horas extraordinarias y por horas complementarias y brecha de género de este concepto.</li>
                        </ul>
                    </li>
                </ul>
            </p>

            <p>
              Desde nuestro equipo nos ponemos a tu disposición para realizar el registro salarial con una licencia anual por tramos:
            </p>
            <ul>
              <li>
                <ul>
                    <li><i class="fas fa-angle-double-right"></i>De 1 a 5 trabajadores 29,90€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 6 a 15 trabajadores 39,90€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 16 a 25 trabajadores 50€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 26 a 40 Trabajadores 100€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 41 60 Trabajadores 150€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 61 a 80 Trabajadores 200€</li>
                    <li><i class="fas fa-angle-double-right"></i>De 81 a 100 Trabajadores 250€</li>
                    <li><i class="fas fa-angle-double-right"></i>+ de 100 consultar</li>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- ======= Contact Section ======= -->
        <div id="contact" class="contact">
            <div class="section-title">
            <h2>¡INFÓRMATE SIN COMPROMISO!</h2>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@informeretributivo.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Teléfono:</h4>
                                <p>+34 955 21 45 22</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">
                        {{ form_start(form, {'attr': {'id': 'contacto', 'method': 'POST'}}) }}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                            {{ form_widget(form.nombre) }}
                            <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                            {{ form_widget(form.email) }}
                            <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                            {{ form_widget(form.telefono) }}
                            <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.mensaje) }}
                            <div class="validate"></div>
                        </div>
                        <div class="text-center">{{ form_widget(form.save) }}</div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          <a href="{{ asset('uploads/aviso_legal.pdf') }}" target="_blank">Aviso legal</a> | <a href="{{ asset('uploads/lssi_politicaprivacidad_.pdf') }}" target="_blank">Política de privacidad</a>
        </div>
        <div class="credits">
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <div class="cookie-consent" id="div-cookies" style="display: none;"> 
    <span>Este sitio utiliza cookies para mejorar su experiencia. Ver <a href="{{ url('politica_cookies') }}" class="ml-1 text-decoration-none" target="_blank">política de cookies</a> </span>
      <div class=" ml-2 d-flex align-items-center justify-content-center g-2"> <button class="allow-button mr-1" onclick="acceptCookies()">Aceptar y cerrar</button></div>
      {# <button class="allow-button">Cancelar</button> #}
  </div>
  <div id="preloader"></div>

  {% endblock %}
  
  {% block javascripts %}
  <!-- Vendor JS Files -->
  <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ asset('vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ asset('vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ asset('vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('vendor/aos/aos.js') }}"></script>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>

  <!-- jquery-validation -->
  <script src="{{ asset('dashboard/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
  <script src="{{ asset('dashboard/plugins/jquery-validation/additional-methods.min.js') }}"></script>
  <script src="{{ asset('js/validations.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ asset('js/main.js') }}"></script>

  <script>
    function checkAcceptCookies() {
        if (localStorage.acceptCookies == 'true') {} else {
            $('#div-cookies').show();
        }
    }

    function acceptCookies() {
        localStorage.acceptCookies = 'true';
        $('#div-cookies').hide();
    }
    $(document).ready(function() {
        checkAcceptCookies();
    });
  </script>
  {% endblock %}