{% extends 'base.html.twig' %}

{% block meta %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block title %}Informe Retributivo{% endblock %}

{% block stylesheets %}
  <!-- Favicons -->
  <link href="{{ asset('img/faviconrrsoft.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">

  <style>
    .error {
        color: red;
    }
    </style>
{% endblock %}

{% block body %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      {# <h1 class="logo mr-auto"><a href="/template">OnePage</a></h1> #}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a class="logo mr-auto"><img src="{{ asset('img/logo4.png') }}" alt="" class="img-fluid"></a>
      {# <div id="titulo">
        <h1>SOFTWARE EMPRESARIAL</h1>
      </div> #}

      <nav class="nav-menu d-none d-lg-block">
        {# <ul>
          <li class="active"><a href="/template">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>

        </ul> #}
      </nav><!-- .nav-menu -->

      {# <a href="{{ url('app_login') }}" class="get-started-btn scrollto">Acceder</a> #}

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Política de cookies</h1>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>CONCEPTO DE COOKIES</h2>
        </div>

        <div class="row content">
            <p>
              Las cookies constituyen una herramienta empleada por los servidores Web para almacenar y recuperar
        información acerca de sus visitantes o usuarios.
            </p>
               
            <p>
                 No es más que un fichero de texto que algunos servidores instalan durante la navegación y que
        permiten conocer información como por ejemplo: el lugar desde el que accede, el tiempo de conexión, el
        dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador utilizados, las páginas
        más visitadas, el número de clicks realizados y de datos respecto al comportamiento del usuario en
        Internet.
            </p>
            
            <p>
                No proporcionan referencias que permitan deducir el nombre y apellidos del usuario y no pueden leer
        datos de su disco duro ni incluir virus en sus equipos.
            </p>
            
            <p>
                Asimismo, no puede leer las cookies implantadas en el disco duro del usuario desde otros servidores.
            </p>

            <p><br><br><br></p>
        </div>

        <div class="section-title">
          <h2>¿POR QUÉ SON TAN IMPORTANTES?</h2>
        </div>

        <div class="row content">
          <p>
            El sitio web es accesible sin necesidad de que las cookies estén activadas, si bien, su desactivación
puede impedir su funcionamiento correcto.
          </p>

          <p>
            Desde un punto de vista técnico las cookies permiten que los sitios web funcionen de forma más ágil y
adaptada a las preferencias de los usuarios, como por ejemplo almacenar el idioma, la moneda del país
o detectar el dispositivo de acceso.
          </p>

          <p>
            Establecen niveles de protección y seguridad que Impiden o dificultan ciberataques contra el sitio web o
sus usuarios.
          </p>

          <p>
            Permiten que los gestores de los medios puedan conocer datos estadísticos recopilados para mejorar la
calidad y experiencia de sus servicios.
          </p>

          <p>
            Sirven para optimizar la publicidad que mostramos a los usuarios, ofreciendo la que más se ajusta a sus
intereses.
          </p>

            <p><br><br><br></p>
        </div>

        <div class="section-title">
          <h2>AUTORIZACIÓN PARA EL USO DE COOKIES</h2>
        </div>

        <div class="row content">
          <p>
            En el sitio web aparece un Aviso de Cookies que el usuario o visitante puede aceptar, consintiendo
expresamente al uso de las cookies según se indica a continuación.
          </p>

          <p>
            El usuario puede configurar su navegador para rechazar por defecto todas las cookies o para recibir un
aviso en pantalla de la recepción de cada cookie y decidir sobre su instalación o no en su disco duro.
          </p>

            <p><br><br><br></p>
        </div>

        <div class="section-title">
          <h2>CONFIGURACIÓN DEL NAVEGADOR</h2>
        </div>

        <div class="row content">
          <p>
            RR SOFT recuerda a sus usuarios que el uso de cookies podrá estar sujeto a su aceptación
durante la instalación o actualización del navegador utilizado por éstos.
          </p>

          <p>
            Esta aceptación podrá ser revocada mediante las opciones de configuración de contenidos y privacidad
disponibles en el mismo. El Titular recomienda a sus usuarios que consulten la ayuda de su navegador o
acceda a las páginas web de ayuda de los principales navegadores: Firefox, Internet Explorer, Safari,
Chrome.
          </p>
          
          <p>
            Si desea más información acerca de cómo revocar el consentimiento prestado o sobre el procedimiento
para deshabilitar las cookies, así como realizar alguna pregunta sobre la Política de Cookies, puede
contactar con el titular a través de la siguiente dirección de correo electrónico
info@informeretributivo.com indicando “Política de Cookies” en el asunto.
          </p>

            <p><br><br><br></p>
        </div>

        <div class="section-title">
          <h2>TIPOS DE COOKIES QUE SE UTILIZAN EN LA WEB</h2>
        </div>

        <div class="row content">
          <p>
            El usuario que navega por la Web puede encontrar cookies insertadas directamente por el titular, o bien
cookies insertadas por entidades distintas al titular, según lo detallado en los siguientes apartados:
          </p>

          <p>
            <span><b>* Cookies de sesión</b></span>, expiran cuando el usuario abandona la página o cierra el navegador, es decir,
están activas mientras dura la visita al sitio web y por tanto son borradas de nuestro ordenador al
abandonarlo.
          </p>
          
          <p>
            <span><b>* Cookies permanentes</b></span>, expiran cuando se cumple el objetivo para el que sirven o bien cuando se borran
manualmente, tienen fecha de borrado y se utilizan normalmente en proceso de compra online,
personalizaciones o en el registro, para no tener que introducir una contraseña constantemente.
          </p>

          <p>
            Según la entidad que gestiona el equipo o dominio desde donde se envían las cookies y trata los datos
que se obtengan, podemos distinguir entre Cookies propias y de terceros.
          </p>

          <p>
            <span><b>* Cookies propias</b></span> son aquellas cookies que son enviadas al ordenador del usuario y son gestionadas
exclusivamente por nosotros para el mejor funcionamiento del Sitio Web. La información que recabamos
se emplea para mejorar la calidad de nuestro servicio y tu experiencia como usuario.
          </p>

          <p>
            <span><b>* Cookies de terceros</b></span>, cuando el usuario interactúa con el contenido de nuestro sitio Web también
pueden establecerse cookies de terceros (por ejemplo, al pulsar botones de redes sociales o visionar
vídeos alojados en otro sitio web), que son aquellas establecidas por un dominio diferente de nuestro
Sitio Web. No podemos acceder a los datos almacenados en las cookies de otros sitios web cuando
navegues en los citados sitios web.
          </p>

          <p>
            Navegar por este portal web supone que se puedan instalar los siguientes tipos de Cookies:
          </p>

          <div class="center">
            <img src="{{ asset('img/cookies.png') }}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    {# <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>OnePage</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> #}

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          <a href="{{ asset('uploads/aviso_legal.pdf') }}" target="_blank">Aviso legal</a> | <a href="{{ asset('uploads/lssi_politicaprivacidad_.pdf') }}" target="_blank">Política de privacidad</a>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          {# Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> #}
        </div>
      </div>
      {# <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> #}
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  {# <div id="cajacookies">
    <p>
      Éste sitio web usa cookies, si permanece aquí acepta su uso.
      Puede leer más sobre el uso de cookies en nuestra <a href="politica.html" target="_blank">política de privacidad</a>.
      <button onclick="aceptarCookies()" class="pull-right"><i class="fa fa-times"></i> Aceptar y cerrar éste mensaje</button>
    </p>
  </div> #}
  <div id="preloader"></div>

  {% endblock %}
  
  {% block javascripts %}
  <!-- Vendor JS Files -->
  <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ asset('vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ asset('vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ asset('vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('vendor/aos/aos.js') }}"></script>

  <!-- jquery-validation -->
  <script src="{{ asset('dashboard/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
  <script src="{{ asset('dashboard/plugins/jquery-validation/additional-methods.min.js') }}"></script>
  <script src="{{ asset('js/validations.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ asset('js/main.js') }}"></script>
  {% endblock %}