{% if (creada is same as(true)) or app.request.get('creada') == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        El registro salarial se registró correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 

{% if app.request.get('creada') == 'eliminada' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        El detalle se ha eliminado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 

<div class="alert alert-success alert-dismissible fade show" role="alert" id="divModificado">
    El registro salarial se modificó correctamente.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% if creada is same as(false) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
        Se produjo un error al introducir los datos de la empresa, por favor compruebe los datos y vuelva a intentarlo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<a href="{{ path('lista_trabajadores', { 'codEmpresa': empresa.id }) }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Detalle salarial del trabajador {{ trabajador.nombre }} {{ trabajador.apellidos }} de la empresa {{ empresa.nombre }}</h3>
    </div>
    {{ form_start(form, {'attr': {'id': 'detalle_salarial', 'method': 'POST'}}) }}
    <div class="card-body">
        <div class="row">
          <div class="col-2">
            <label for="inputNombre">Puesto</label>
            {{ form_widget(form.puesto) }}
          </div>
          <div class="col-2">
            <label for="inputNombre">Grupo</label>
            {{ form_widget(form.grupo) }}
          </div>
          <div class="col-2">
            <label for="inputNombre">Concepto</label>
            {{ form_widget(form.concepto) }}
          </div>
          <div class="col-2" id="divConceptoSalarial" style="display:none">
            <label for="inputNombre">Tipo Complemento Salarial</label>
            {{ form_widget(form.codComplemento) }}
          </div>
          <div class="col-2" id="divConceptoExtraSalarial" style="display:none">
            <label for="inputNombre">Tipo Complemento Extra Salarial</label>
            {{ form_widget(form.codComplementoExtrasalarial) }}
          </div>
          <div class="col-4">
            <label for="inputCif">Descripcion</label>
            {{ form_widget(form.descripcion) }}
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <label for="inputCif">Mes</label>
            {{ form_widget(form.mes) }}
          </div>
          <div class="col-1">
            <label for="inputCif">Año</label>
            {{ form_widget(form.anio) }}
          </div>
          <div class="col-1" id="divHoras" style="display:none">
            <label for="inputHoras">Horas</label>
            {{ form_widget(form.horas) }}
          </div>
          <div class="col-2">
            <label for="inputImporte">Importe</label>
            {{ form_widget(form.importe) }}
          </div>
          <div class="col-6">
            <label for="inputObservaciones">Observaciones</label>
            {{ form_widget(form.observaciones) }}
          </div>
          <div class="col-1">
            <label for="inputImporte">&nbsp;</label>
            {{ form_widget(form.repetible) }}
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
          {{ form_row(form.save) }}
      </div>
    </div>
    
  {{ form_end(form) }}
<!-- /.row -->
</div>

{% if (lista is not same as ('')) and (lista is not empty) %}
  <div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Lista de detalles salariales del trabajador {{ trabajador.nombre }} {{ trabajador.apellidos }} de la empresa {{ empresa.nombre }}</h3>
    </div>
    <div class="text-center">
        <a href="javascript:void(0);" class="nav-link" id="deleteDetailsLink" onclick="deleteGroupDetails({{ empresa.id }},{{ trabajador.id }});">
            <button type="button" class="btn-danger btn" id="deleteDetailsButton" name="deleteDetailsButton" disabled><i class="fas fa-trash"></i>&nbsp;&nbsp;Eliminar detalles</button>
        </a>
    </div>
    
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-sm" id="tablaDetalles">
                <thead>
                    <tr class="text-center">
                      <th>Selección</th>
                      <th>Descripción</th>
                      <th>Tipo Complemento</th>
                      <th>Puesto</th>
                      <th>Grupo</th>
                      <th>Mes/Año</th>
                      <th>Horas</th>
                      <th>Importe</th>
                      <th>Observaciones</th>
                      <th>Repetible</th>
                      <th>Modificar</th>
                      <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% set mes  = 0 %}
                    {% set anio = 0 %}

                    {% set claseRow = '' %}

                    {% for informes in lista %}
                      
                        {% if anio is same as(0) and mes is same as(0) %}
                          {% set mes  = informes.mes %}
                          {% set anio = informes.anio %}
                        {% elseif anio is not same as(informes.anio) and mes is not same as(informes.mes) %}
                          {% set mes  = informes.mes %}
                          {% set anio = informes.anio %}

                          {% if claseRow is same as('') %}
                            {% set claseRow = 'table-secondary' %}                          
                          {% else %}
                            {% set claseRow = '' %}
                          {% endif %}
                        {% elseif mes is not same as(informes.mes) %}
                          {% set mes  = informes.mes %}

                          {% if claseRow is same as('') %}
                            {% set claseRow = 'table-secondary' %}                          
                          {% else %}
                            {% set claseRow = '' %}
                          {% endif %}
                        {% elseif anio is not same as(informes.anio) %}
                          {% set anio = informes.anio %}

                          {% if claseRow is same as('') %}
                            {% set claseRow = 'table-secondary' %}                          
                          {% else %}
                            {% set claseRow = '' %}
                          {% endif %}
                        {% endif %}

                        <tr class="text-center {{ claseRow }}"> 
                            <td><input type="checkbox" name="idDetalle" id="checkbox-{{informes.id}}" value="{{informes.id}}" onclick="checkActiveButton();" /></td>
                            <td><span id="descripcion">{{ informes.descripcion }}</span></td>
                            <td><span id="complemento">{{ informes.nombreComplemento }}</span></td>
                            <td>{{ informes.puesto }}</td>
                            <td>{{ informes.grupo }}</td>
                            <td><table class='table borderless'><tr><td><select name="mes{{informes.id}}" id="mes{{informes.id}}" class="form-control">
                                  {% for i in 1..12 %}
                                      <option value="{{ i }}" {% if i == informes.mes %} selected="selected" {% endif %} >{{ i }}</option>
                                  {% endfor %}
                              </select></td><td>/</td><td><input type="text" name="anio{{informes.id}}" class="form-control" id="anio{{informes.id}}" value="{{ informes.anio }}" size="4" /></td></table></td>
                            <td width="100px">{% if (informes.nombreComplemento == "Horas Extra") or (informes.nombreComplemento == "Horas Complementarias") %} <input type="number" name="horas{{informes.id}}" class="form-control" id="horas{{informes.id}}" placeholder="Horas" value="{{ informes.horas }}" size="2" />{% else %}<input type="hidden" name="horas{{informes.id}}" class="form-control" id="horas{{informes.id}}" placeholder="Horas" value="{{ informes.horas }}" size="2" />{% endif %}</td>
                            <td width="150px" class="importe"><input type="number" name="importe{{informes.id}}" class="form-control" id="importe{{informes.id}}" value="{{ informes.importe }}" size="4" /></td>
                            <td><input type="text" name="observaciones{{informes.id}}" class="form-control" id="observaciones{{informes.id}}" placeholder="Observaciones" value="{{ informes.observaciones }}" /></td>
                            <td>{% if (informes.repetible == false) %}<span style="color:red"><i class="fas fa-times"></i></span>{% else %}<span style="color:green"><i class="fas fa-check"></i></span>{% endif %}</td>
                            <td><a href="#" class="prodButton" onClick="modificaDetalle({{informes.id}}, 'mes{{informes.id}}', 'anio{{informes.id}}', 'horas{{informes.id}}', 'importe{{informes.id}}','observaciones{{informes.id}}')"><i class="fas fa-pen"></i></a>
                                <!--<a href="{{ path('modifica_detalle_registro_salarial', { 'codEmpresa': empresa.id, 'idDetalle': informes.id }) }}"><i class="fas fa-pen"></i></a>--></td>
                            <td><a href="{{ path('eliminar_detalle_registro', { 'codEmpresa': empresa.id, 'idDetalle': informes.id }) }}" onclick="return confirm('Va a eliminar el detalle del registro salarial, ¿desea continuar?')"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <!-- /.row -->
  </div>
{% endif %} 