<a href="{{ path('detalle_registro_salarial', { 'codEmpresa': empresa.id, 'codTrabajador': trabajador.id }) }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Modificar detalle salarial del trabajador {{ trabajador.nombre }} {{ trabajador.apellidos }} de la empresa {{ empresa.nombre }}</h3>
    </div>
    {{ form_start(form, {'attr': {'id': 'detalle_salarial', 'method': 'POST'}}) }}
    <div class="card-body">
        <div class="row">
          <div class="col-2">
            <label for="inputNombre">Puesto</label>
            {{ form_widget(form.puesto) }}
          </div>
          <div class="col-2">
            <label for="inputNombre">Grupo</label>
            {{ form_widget(form.grupo) }}
          </div>
          <div class="col-2">
            <label for="inputNombre">Concepto</label>
            {{ form_widget(form.concepto) }}
          </div>          
          <div class="col-2" id="divConceptoSalarial" {% if form.concepto.vars.value is not same as('complementoSalarial') %} style="display:none" {% endif %}>
            <label for="inputNombre">Tipo Complemento Salarial</label>
            {{ form_widget(form.codComplemento) }}
          </div>
          <div class="col-2" id="divConceptoExtraSalarial" {% if form.concepto.vars.value is not same as('complementoExtrasalarial') %} style="display:none" {% endif %}>
            <label for="inputNombre">Tipo Complemento Extra Salarial</label>
            {{ form_widget(form.codComplementoExtrasalarial) }}
          </div>

          <div class="col-4">
            <label for="inputCif">Descripcion</label>
            {{ form_widget(form.descripcion, { 'attr':{'value': datosDetalle.descripcion }}) }}
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <label for="inputCif">Mes</label>
            {{ form_widget(form.mes) }}
          </div>
          <div class="col-1"> 
            <label for="inputCif">Año</label>
            {{ form_widget(form.anio, { 'attr':{'value': datosDetalle.anio }}) }}
          </div>
          <div class="col-1">
            <label for="inputHoras">Horas</label>
            {{ form_widget(form.horas, { 'attr':{'value': datosDetalle.horas }}) }}
          </div>
          <div class="col-2">
            <label for="inputImporte">Importe</label>
            {{ form_widget(form.importe, { 'attr':{'value': datosDetalle.importe }}) }}
          </div>
          <div class="col-6">
            <label for="inputObservaciones">Observaciones</label>
            {{ form_widget(form.observaciones, { 'attr':{'value': datosDetalle.observaciones }}) }}
          </div>
          <div class="col-1">
            <label for="inputImporte">&nbsp;</label>
            {{ form_widget(form.repetible, { 'attr':{'value': datosDetalle.repetible }}) }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
        {{ form_row(form.save) }}
    </div>
  {{ form_end(form) }}
<!-- /.row -->
</div>