{% extends 'base.html.twig' %}
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}AdminLTE 3 | Dashboard 3{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/jqvmap/jqvmap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/daterangepicker/daterangepicker.css') }}">


   <style>
    .error {
        color: red;
    }
    .excel {color: #008000;}
    .pdf {color: #DC143C;}

    .buttonCheckout {border-radius: 25px; width: 750px; height: 55px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 500; }

    .borderless td, .borderless th {
        border: none;
    }
    </style>
{% endblock %}

{% block bodyAtt %}class="hold-transition sidebar-mini layout-fixed"{% endblock %}
{% block body %}
<div class="wrapper">

  {% if ("ROLE_TRABAJADOR" in app.user.roles) %}
    <!-- Navbar -->
    {% embed '/dashboard/common/navbar_simple.html.twig' with {'dashboard': 2 } only %}{% endembed %} 
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% embed '/dashboard/common/menuDashboard_trabajador.html.twig' %}{% endembed %} 
    <!-- End Main Sidebar Container -->
  {% elseif ("ROLE_ADMIN" in app.user.roles) %}
    <!-- Navbar -->
    {% embed '/dashboard/common/navbar_simple.html.twig' with {'dashboard': 2 } only %}{% endembed %} 
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% embed '/dashboard/common/menuDashboardAdmin.html.twig' %}{% endembed %} 
    <!-- End Main Sidebar Container -->
  {% elseif ("ROLE_REGISTRO" not in app.user.roles) and ("ROLE_GESTOR" in app.user.roles) %}
    <!-- Navbar -->
    {% embed '/dashboard/common/navbar.html.twig' with {'dashboard': 2 } only %}{% endembed %} 
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% embed '/dashboard/common/menuDashboard.html.twig' %}{% endembed %} 
    <!-- End Main Sidebar Container -->
  {% elseif ("ROLE_EMPRESA" in app.user.roles) %}
    <!-- Navbar -->
    {% embed '/dashboard/common/navbar_simple.html.twig' with {'dashboard': 2 } only %}{% endembed %} 
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% embed '/dashboard/common/menuDashboard_empresa.html.twig' %}{% endembed %} 
    <!-- End Main Sidebar Container -->
  {% else %}
    <!-- Navbar -->
    {% embed '/dashboard/common/navbar_simple.html.twig' with {'dashboard': 2 } only %}{% endembed %} 
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% embed '/dashboard/common/menuDashboard_register.html.twig' %}{% endembed %} 
    <!-- End Main Sidebar Container -->
  {% endif %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% set template = app.session.get('templateURL') %}
        {% embed template %}{% endembed %}
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
{% endblock %}
  
{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('dashboard/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('dashboard/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ asset('dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('dashboard/plugins/chart.js/Chart.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('dashboard/plugins/sparklines/sparkline.js') }}"></script>
<!-- JQVMap -->
<script src="{{ asset('dashboard/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('dashboard/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ asset('dashboard/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ asset('dashboard/plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('dashboard/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- Summernote -->
<script src="{{ asset('dashboard/plugins/summernote/summernote-bs4.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset('dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dashboard/dist/js/adminlte.js') }}"></script>

<!-- jquery-validation -->
<script src="{{ asset('dashboard/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('dashboard/plugins/jquery-validation/additional-methods.min.js') }}"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('js/validations.js') }}"></script>

{% if app.session.get('page') == 'altaEmpresa' %}
<script src="{{ asset('js/altaEmpresa.js') }}"></script>
{% elseif (app.session.get('page') == 'listaEmpresa') %}
<script src="{{ asset('js/listaEmpresas.js') }}"></script>
{% elseif app.session.get('page') == 'perfilGestor' %}
<script src="{{ asset('js/perfilGestor.js') }}"></script>
{% elseif app.session.get('page') == 'paginaInicial' %}
<!--<script src="{{ asset('dashboard/dist/js/pages/dashboard-mine.js') }}"></script>
<script src="{{ asset('dashboard/dist/js/demo.js') }}"></script>-->
<script src="{{ asset('js/dashboard.js') }}"></script>
{% elseif app.session.get('page') == 'informesGeneradosGestor' %}
<script src="{{ asset('js/informesGeneradosGestor.js') }}"></script>
{% elseif app.session.get('page') == 'perfilEmpresa' %}
<script src="{{ asset('js/perfilEmpresa.js') }}"></script>
{% elseif app.session.get('page') == 'perfilTrabajador' %}
<script src="{{ asset('js/perfilTrabajador.js') }}"></script>
{% elseif app.session.get('page') == 'listaInformes' %}
<script src="{{ asset('js/listaInformes.js') }}"></script>
{% elseif app.session.get('page') == 'detalleRegistroSalarial' or app.session.get('page') == 'editarRegistroSalarial' %}
<script src="{{ asset('js/detalleRegistroSalarial.js') }}"></script>
{% elseif app.session.get('page') == 'listaInformesEmpresa' %}
<script src="{{ asset('js/listaInformesEmpresa.js') }}"></script>
{% elseif app.session.get('page') == 'altaTrabajador' and app.session.get('registroHorario') == '1' %}
<script src="{{ asset('js/altaTrabajador.js') }}"></script>
{% elseif app.session.get('page') == 'altaTrabajador' and app.session.get('registroHorario') == '0' %}
<script src="{{ asset('js/altaTrabajador2.js') }}"></script>
{% elseif app.session.get('page') == 'listaProductos' %}
<script src="{{ asset('js/listaProductos.js') }}"></script>
{% elseif app.session.get('page') == 'carro' %}
<script src="{{ asset('js/carro.js') }}"></script>
{% elseif (app.session.get('page') == 'checkout') and (form is defined) %}
<script src="{{ asset('js/checkout.js') }}"></script>
{% elseif (app.session.get('page') == 'checkout') and (form is not defined) %}
<script src="{{ asset('js/checkout_payments.js') }}"></script>
{% elseif (app.session.get('page') == 'mailbox') %}
  <script src="{{ asset('js/mailbox.js') }}"></script>
{% elseif (app.session.get('page') == 'composeMail' and ("ROLE_SOPORTE" in app.user.roles)) %}
  <script src="{{ asset('js/composeSoporte.js') }}"></script>
{% elseif (app.session.get('page') == 'composeMail' and ("ROLE_SOPORTE" not in app.user.roles)) %}
  <script src="{{ asset('js/compose.js') }}"></script>
{% elseif (app.session.get('page') == 'listaTransferencias') %}
  <script src="{{ asset('js/transferencias.js') }}"></script>
{% elseif (app.session.get('page') == 'listaFacturas') %}
  <script src="{{ asset('js/facturas.js') }}"></script>
{% elseif (app.session.get('page') == 'paginaRegistroHorario') %}
  <script src="{{ asset('js/registroHorario.js') }}"></script>
{% elseif (app.session.get('page') == 'nuevaFactura') %}
  <script src="{{ asset('js/nuevaFactura.js') }}"></script>
{% elseif (app.session.get('page') == 'formularioHorarios') %}
  <script src="{{ asset('js/formularioHorarios.js') }}"></script>
{% endif %}

{% endblock %}