{% if app.request.get('changed') == true %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        La contraseña se modificó correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} 

<div class="row">
    <section class="col-lg-6 connectedSortable">

        <!-- IBAN Calculation -->
        {% embed '/dashboard/common/widgets/ibanCalc.html.twig' %}{% endembed %}
        <!-- /.card -->

        <!-- CNAE Search -->
        {% embed '/dashboard/common/widgets/buscaCNAE.html.twig' %}{% endembed %}
        <!-- /.card -->

    </section>
    <!-- /.col-md-6 -->
    <section class="col-lg-6 connectedSortable">

        <!-- Factura IRPF e IVA CALCULO -->
        {% embed '/dashboard/common/widgets/facturaCalc.html.twig' %}{% endembed %}
        <!-- /.card -->
        
        <!-- IAE Search -->
        {% embed '/dashboard/common/widgets/buscaIAE.html.twig' %}{% endembed %}
        <!-- /.card -->

    </section>
</div>