<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
    <div class="text-center" style="margin-top: 10px;"><img src="{{ asset('img/logo2.png') }}" alt="RR Soft Logo" width="80px" class="brand-image img-circle elevation-3" style="opacity: .8"></div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{{ url('ya_logado') }}" class="d-block">Bienvenido {{ app.user.nombre }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- Registro Retributivo Menu -->
          <li class="nav-item" id="registroMenu">
            <a href="#" class="nav-link">
              <p>
                Registro Retributivo
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="registroRetributivo">
              <li class="nav-item">
                <a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
                  <i class="fas fa-list"></i>
                  <p>Lista Empresas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_informes_gestor') }}" class="nav-link" id="informesGenerados">
                  <i class="far fa-file-alt"></i>
                  <p>Informes Generados</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Licencias Menu -->
          <li class="nav-item" id="compraLicencias">
            <a href="#" class="nav-link">
              <p>
                Licencias
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="menuCompras">
              <li class="nav-item">
                <a href="{{ url('crear_factura_admin') }}" class="nav-link" id="nuevaFactura">
                  <i class="fas fa-file-invoice"></i>
                  <p>Generar Factura</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_transferencias') }}" class="nav-link" id="listaTransferencias">
                  <i class="fas fa-exchange-alt"></i>
                  <p>Transferencias pendientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_facturas_admin') }}" class="nav-link" id="listaFacturas">
                  <i class="fas fa-file-invoice"></i>
                  <p>Facturas generadas</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>