<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
    <div class="text-center" style="margin-top: 10px;"><img src="{{ asset('img/logo2.png') }}" alt="RR Soft Logo" width="80px" class="brand-image img-circle elevation-3" style="opacity: .8"></div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{{ url('ya_logado') }}" class="d-block">Bienvenido {{ app.user.nombre }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- Gestores Menu -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url('perfil_gestor') }}" class="nav-link" id="perfil">
                  <p>Perfil</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Registro Retributivo Menu -->
          <li class="nav-item" id="registroMenu">
            <a href="#" class="nav-link">
              <p>
                Registro Retributivo
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="registroRetributivo">
              <li class="nav-item">
                <a href="{{ url('crear_empresa') }}" class="nav-link" id="nuevaEmpresa">
                  <i class="fas fa-edit"></i>
                  <p>Nueva Empresa</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
                  <i class="fas fa-list"></i>
                  <p>Lista Empresas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_informes_gestor') }}" class="nav-link" id="informesGenerados">
                  <i class="far fa-file-alt"></i>
                  <p>Informes Generados</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Licencias Menu -->
          <li class="nav-item" id="compraLicencias">
            <a href="#" class="nav-link">
              <p>
                Licencias
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="menuCompras">
              <li class="nav-item">
                <a href="{{ url('productos') }}" class="nav-link" id="compraProductos">
                  <i class="fas fa-shopping-cart"></i>
                  <p>Compra de licencias</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_facturas') }}" class="nav-link" id="listaFacturas">
                  <i class="fas fa-file-invoice"></i>
                  <p>Facturas de compra</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{{ url('mailbox') }}" class="nav-link">
              <p>
                Correo Soporte
              </p>
            </a>
          </li>
          <!-- Otros Enlaces Menu -->
          <li class="nav-item" id="registroMenu">
            <a href="#" class="nav-link">
              <p>
                Tutoriales
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="registroRetributivo">
              <li class="nav-item">
                <a href="{{ url('guia_uso') }}" class="nav-link" id="guiaUso">
                  <i class="fas fa-book"></i>
                  <p>Manual de la aplicación</p>
                </a>
              </li>
              <!--<li class="nav-item">
                <a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
                  <i class="fas fa-video"></i>
                  <p>Video Explicativo</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
                  <i class="fas fa-question"></i>
                  <p>FAQ</p>
                </a>
              </li>-->
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>