<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
    <div class="text-center" style="margin-top: 10px;"><img src="{{ asset('img/logo2.png') }}" alt="RR Soft Logo" width="80px" class="brand-image img-circle elevation-3" style="opacity: .8"></div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{{ url('ya_logado') }}" class="d-block">{% if (app.user.sexo == 'H') %} Bienvenido {% else %} Bienvenida {% endif %} {{ app.user.nombre }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>