  {% if dashboard == 2 %}
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
  {% else %}
    <nav class="main-header navbar navbar-expand navbar-dark">
  {% endif %}

    {% if (app.session.get('numArticulos') is defined) and (app.session.get('numArticulos') > 0) %}
      {% set numArticulos = app.session.get('numArticulos') %}
    {% else %}
      {% set numArticulos = false %}
    {% endif %}

    {% if (app.session.get('emailNuevos') is defined) and (app.session.get('emailNuevos') > 0) %}
      {% set emailNuevos = app.session.get('emailNuevos') %}
    {% else %}
      {% set emailNuevos = false %}
    {% endif %}

    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Mail Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="{{ url('mailbox') }}">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">{{ emailNuevos }}</span>
        </a>
      </li>
      <!-- Shopping cart -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="{{ path('cart') }}">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-warning navbar-badge">{{ numArticulos }}</span>
        </a>
      </li>
      <!-- Notifications Dropdown Menu -->
      <!--<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>-->
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url('app_logout') }}">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
      
    </ul>
  </nav>