{% extends 'base.html.twig' %} 
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}AdminLTE 3 | Kanban Board{% endblock %}

{% block stylesheets %}
  <!-- Kanban styles -->
  <link rel="stylesheet" href="{{ asset('dashboard/kanban/style.css') }}">
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/ekko-lightbox/ekko-lightbox.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Bootstrap Stylesheet -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
{% endblock %}

{% block bodyAtt %}class="hold-transition sidebar-mini layout-fixed"{% endblock %}
{% block body %}
<div class="wrapper">
  <!-- Navbar -->
  {% embed '/dashboard/common/navbar.html.twig' with {'dashboard': 2 } only %}{% endembed %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% embed '/dashboard/common/menuDashboard.html.twig' %}{% endembed %}
  <!-- End Main Sidebar Container -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper kanban">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </section>

    <div id="loadingScreen">
        <div class="loader"></div>
    </div>
    <div class="controls p-3">
        <form class="form-inline">
            <label for="titleInput">Title:</label>
            <input class="form-control form-control-sm" type="text" name="title" id="titleInput" autocomplete="off">
            <label for="descriptionInput">Description:</label>
            <input class="form-control form-control-sm" type="text" name="description" id="descriptionInput" autocomplete="off">
            <button class="btn btn-dark" id="add">Add</button>
            <button class="btn btn-danger mx-2" id="deleteAll">Delete All</button>
            <button class="btn" id="theme-btn">
                Dark/Light
            </button>
        </form>
    </div>
    <div class="boards overflow-auto p-0" id="boardsContainer">
    </div>
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% endblock %}
  
{% block javascripts %}

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<!-- kanban js -->
<script src="{{ asset('dashboard/kanban/script.js') }}" defer></script>
<!-- jQuery -->
<script src="{{ asset('dashboard/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Ekko Lightbox -->
<script src="{{ asset('dashboard/plugins/ekko-lightbox/ekko-lightbox.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset('dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dashboard/dist/js/adminlte.min.js') }}"></script>
<!-- Filterizr-->
<script src="{{ asset('dashboard/plugins/filterizr/jquery.filterizr.min.js') }}"></script>

<script>if (window.module) module = window.module;</script>
<!-- Page specific script -->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- UI components -->
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
{% endblock %}