{% extends 'base.html.twig' %}
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}AdminLTE 3 | Registration Page (v2){% endblock %}

{% block stylesheets %} 
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dashboard/dist/css/adminlte.min.css') }}">
  <style>
    .error {
        color: red;
    }

    .hidden { display: none; }
    </style>
{% endblock %}

{% block bodyAtt %}class="hold-transition register-page"{% endblock %}
{% block body %}
    <div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <p class="h1"><b>Registro de Gestor</b></p>
        </div>
        <div class="card-body">

        {% if (creada is same as(true)) or app.request.get('creada') == 1 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                El registro se realizó correctamente, hemos enviado un email con instrucciones, podrás acceder a la plataforma con el CIF como usuario y la contraseña hemos enviado por correo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if ((errMail is same as(true)) or app.request.get('errMail') == 1) and (creada is same as(false)) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
                La direccion de email indicada para este gestor ya existe en nuestra base de datos, por favor debe introducir una diferente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elseif (errMail is same as(true)) or app.request.get('errMail') == 1 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
                Se produjo un error al enviar el email y no se realizó el registro, por favor, compruebe que la direccion de email es la correcta y vuelva a intentarlo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elseif (creada is same as(false)) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
                Se produjo un error al realizar el registro, por favor, compruebe los datos y vuelva a intentarlo.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %} 
        

        {{ form_start(form, {'method': 'POST'}) }}
            <div class="input-group mb-3 hidden" id="validaciones">
               <p>
                    <label id="form_nombre-error" class="error" for="form_nombre"></label>
                    <label id="form_cif-error" class="error" for="form_cif"></label>
                    <label id="form_email-error" class="error" for="form_email"></label>
                    <label id="form_telefono-error" class="error" for="form_telefono"></label>
                    <label id="form_ccaa-error" class="error" for="form_ccaa"></label>
                    <label id="form_provincia-error" class="error" for="form_provincia"></label>
                    <label id="form_localidad-error" class="error" for="form_localidad"></label>
                    <label id="form_direccion-error" class="error" for="form_direccion"></label>
                    <label id="form_cp-error" class="error" for="form_cp"></label>
                    <label id="terms-error" class="error" for="terms"></label>
               </p>
            </div>
            
            <div class="input-group mb-3">
                {{ form_widget(form.nombre) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.cif) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.email) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.telefono) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.ccaa) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.provincia) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.localidad) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.direccion) }}
            </div>
            <div class="input-group mb-3">
                {{ form_widget(form.cp) }}
            </div>
            <div class="row">
            <div class="col-12">
                <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                Acepto los <a href="{{ asset('uploads/lssi_politicaprivacidad_.pdf') }}" target="_blank">terminos y condiciones</a>
                </label>
                </div>
            </div>
            </div>
            <div class="social-auth-links text-center">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
        <div class="checkbox mb-3">
            <BR />
            <label>
                <a href="{{ url('app_login') }}" class="text-center">Ya tengo un usuario para acceder</a> 
            </label>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
    </div>
<!-- /.register-box -->
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('dashboard/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('dashboard/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- jquery-validation -->
<script src="{{ asset('dashboard/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ asset('dashboard/plugins/jquery-validation/additional-methods.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dashboard/dist/js/adminlte.min.js') }}"></script>
<script src="{{ asset('js/validations.js') }}"></script>
<script src="{{ asset('js/altaGestor.js') }}"></script>
{% endblock %}
