{% if (errores is defined and errores is not empty) %}
    <div class="alert alert-warning" role="alert">
        No es un archivo válido por los siguientes motivos:
        {% for error in errores %}
        <p>- {{ error }}</p>
        {% endfor %}
    </div> 
{% endif %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Carta digital de la empresa {{ empresa }}</h3>
    </div>
    <div class="card-body p-0">
        {% if (qr_image is defined and qr == true) %}
            <div class="card-header">
                <p>Puede escanear el código QR para abrir su carta digital:</p>
                <p><img src="{{ qr_code_data_uri(qr_image) }}" /></p>
                <p>Puede volver a subir una imagen para actualizar la que ya tenía anteriormente:</p>
                <p>
                    <form action="{{ path('subida_fichero', { 'codEmpresa': codEmpresa }) }}" method="POST" enctype="multipart/form-data">
                        <input type="file" id="imagen_carta" name="imagen_carta">
                        <input type="submit" value="Enviar" name="submit">
                    </form>
                </p>
            </div>
        {% else %}
            <div class="card-header">
                <p>Puede subir aquí la imagen de su carta para poder descargarla a través de su código QR después:</p>
                <p>
                    <form action="{{ path('subida_fichero', { 'codEmpresa': codEmpresa }) }}" method="POST" enctype="multipart/form-data">
                        <input type="file" id="imagen_carta" name="imagen_carta">
                        <input type="submit" value="Enviar" name="submit">
                    </form>
                </p>
            </div>
        {% endif %} 
    </div>
</div>

<a href="{{ url('lista_empresas') }}" class="nav-link" id="listaEmpresas">
    <button type="button" class="btn-secondary btn"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Volver</button>
</a>