{% if (lista is null) or (lista is empty) %} 
    {% if ("ROLE_REGISTRO" in app.user.roles) %}
        <div class="alert alert-warning" role="alert">
            Aún no hay empresas dadas de alta con asistencia de registro.
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aún no hay empresas dadas de alta, accede <a href="{{ url('crear_empresa') }}" class ="alert-link">aqui</a> para darlas de alta.
        </div>
    {% endif %}
{% else %}
    {% if app.request.get('mandado') == true %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
            Se envió correctamente la clave de la empresa {{ app.request.get('nombre') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %} 

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de Empresas</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>CIF/NIF/NIE</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Trabajadores</th>
                            <th>Informes</th>
                            <th>Tipo Licencia</th>
                            <th>Fecha Alta</th>
                            <th>Fecha Renovación</th>
                            <th>Carta digital</th>
                            <th>Registro Horario</th>
                            <th>Clave Enviada</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empresa in lista %}
                            <tr class="text-center">
                                <td>{{ empresa.nombre }}</td> 
                                <td>{{ empresa.cif }}</td>
                                <td>{{ empresa.telefono }}</td>
                                <td>{{ empresa.email }}</td>
                                <td><a href="{{ path('lista_trabajadores', { 'codEmpresa': empresa.id }) }}"><i class="fas fa-users"></i></a></td>
                                <td><a href="{{ path('lista_informes_empresa', { 'codEmpresa': empresa.id }) }}"><i class="far fa-file-alt"></i></a></td>
                                <td>{% if (empresa.tipoLicencia == "Asistida") %}Asistida{% else %}Básica{% endif %}</td>
                                <td>{{ empresa.fechaAlta|date("d/m/Y") }}</td>
                                <td>{{ empresa.fechaRenovacion|date("d/m/Y") }}</td>
                                <td><a href="{{ path('carta_digital', { 'codEmpresa': empresa.id }) }}"><i class="far fa-file-alt"></i></a></td>
                                <td>{% if (empresa.registroHorario == true) %}<a href="{{ path('formulario_registro_horario', { 'codEmpresa': empresa.id }) }}"><i class="fas fa-clock"></i></a>{% else %}<span style="color:red"><i class="fas fa-times"></i>{% endif %}</td>
                                <td><a href="{{ path('enviar_clave_empresa', { 'codEmpresa': empresa.id }) }}" onclick="return confirm('Va a enviar la clave de acceso a la empresa, ¿desea continuar?')">{% if (empresa.claveEnviada == false) %}<span style="color:red"><i class="fas fa-times"></i></span>{% else %}<span style="color:green"><i class="fas fa-check"></i></span>{% endif %}</a></td>
                                <td><a href="{{ path('perfil_empresa', { 'codEmpresa': empresa.id }) }}"><i class="fas fa-pen"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
{% endif %}