{% if (lista is null) or (lista is empty) %}
    <div class="alert alert-warning" role="alert">
        Aún no hay informes generados, debes seleccionar una <a href="{{ url('lista_empresas') }}" class ="alert-link">empresa de la lista</a> y generarlo.
    </div>
{% else %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Lista de Informes Generados</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr class="text-center">
                            <th>Empresa</th>
                            <th>Año</th>
                            <th>Fecha Informe</th>
                            <th>Informe Excel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for informes in lista %}
                            <tr class="text-center">
                                <td>{{ informes.nombre }}</td>
                                <td>{{ informes.anio }}</td>
                                <td>{{ informes.fechaCreacion|date("d/m/Y H:m") }}</td> 
                                <td><a href="{{ path('informe_excel_completo', { 'codEmpresa': informes.codEmpresa, 'anio': informes.anio }) }}" class="excel"><i class="fas fa-file-excel"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    <!-- /.row -->
    </div>
{% endif %}