{% if modificado is same as(true) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        Los datos se han modificado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elseif modificado is same as(false) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert">
        Se produjo un error al modificar los datos, por favor vuelva a intentarlo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Perfil Gestor</h3>
    </div>
    {{ form_start(form, {'attr': {'method': 'POST'}}) }}
    <div class="card-body">
        <!-- Datos identificativos de Gestor -->
        <div class="row">
        <div class="col-5">
            <label for="inputNombre">Razón Social</label>
            {{ form_widget(form.nombre, { 'attr':{'value': app.user.nombre }}) }}
        </div>
        <div class="col-3">
            <label for="inputCif">CIF/NIF/NIE</label>
            {{ form_widget(form.cif, { 'attr':{'value': app.user.cif  }}) }}
        </div>
        <div class="col-4">
            <label for="inputTelefono">Teléfono</label>
            {{ form_widget(form.telefono, { 'attr':{'value': app.user.telefono }}) }}
        </div>
        </div>
        <!-- Datos generales de Gestor -->
        <div class="row">
            <div class="col-5">
            <label for="inputEmail">Email</label>
                {{ form_widget(form.email, { 'attr':{'value': app.user.email }}) }}
            </div>
            <div class="col-5">
            <label for="inputDireccion">Dirección</label>
                {{ form_widget(form.direccion, { 'attr':{'value': app.user.direccion }}) }}
            </div>
            <div class="col-2">
                <label for="inputCP">CP</label>
                {{ form_widget(form.cp, { 'attr':{'value': app.user.cp }}) }}
            </div>
        </div>
        <!-- Dirección de Gestor -->
        <div class="row">
            <div class="col-2">
                <label for="inputCCAA">CCAA</label>
                {{ form_widget(form.codComunidad) }}
            </div>
            <div class="col-3">
                <label for="inputProvincia">Provincia</label>
                {{ form_widget(form.codProvincia) }}
            </div>
            <div class="col-3">
            <label for="inputLocalidad">Localidad</label>
                {{ form_widget(form.localidad, { 'attr':{'value': app.user.localidad }}) }}
            </div>        
            <div class="col-2">
                <label for="inputCP">Licencias Disponibles</label>
                {{ form_widget(form.licencias, { 'attr':{'value': app.user.licenciasDisponibles, 'disabled':'disabled'}}) }}
            </div>
            <div class="col-2">
                <label for="inputCP">Licencias Asistidas Disponibles</label>
                {{ form_widget(form.licenciasAsistidas, { 'attr':{'value': app.user.licenciasDisponiblesAsistida, 'disabled':'disabled'}}) }}
            </div>
        </div>
    </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer text-center">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
<!-- /.row -->
</div>